Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: move traefik labels to db container for network_mode compatibility
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
Due: prettier --write

refactor: use explicit shared network instead of network_mode
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
  .devcontainer/proxy/README.md
  docs/DEVPOD_SETUP.md
Due: prettier --write

fix: replace example password with placeholder in docs
  .devcontainer/proxy/README.md
Due: prettier --write

chore: add gitleaks ignore for example password in docs
  .gitleaksignore
Due: none

feat: integrate devpod with traefik for shareable urls and web ide (#386)
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
  .devcontainer/proxy/README.md
  .devcontainer/proxy/docker-compose.proxy.yml
  .devcontainer/proxy/docker-compose.user.yml
  .devcontainer/proxy/generate-hosts.sh
  .devcontainer/proxy/setup-user.sh
  .gitleaksignore
  README.md
  docs/DEVPOD_SETUP.md
Due: prettier --write

fix: update health checks to use internal network hostnames
  .devcontainer/post-start.sh
  .devcontainer/proxy/docker-compose.proxy.yml
Due: prettier --write

fix: use internal network hostnames for health checks
  .devcontainer/README.md
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  .devcontainer/proxy/docker-compose.proxy.yml
Due: prettier --write

fix: use internal network hostnames for health checks (#387)
  .devcontainer/README.md
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  .devcontainer/proxy/docker-compose.proxy.yml
Due: prettier --write

docs: update documentation for devpod workflow
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  .devcontainer/proxy/install-traefik-service.sh
Due: prettier --write

fix: comprehensive devcontainer review fixes
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/proxy/idle-shutdown.sh
Due: prettier --write

fix: additional comprehensive review fixes
  .devcontainer/README.md
  .devcontainer/post-start.sh
  .devcontainer/proxy/docker-compose.proxy.yml
Due: prettier --write

fix: use internal network hostnames and update docs for devpod (#388)
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post-start.sh
  .devcontainer/proxy/docker-compose.proxy.yml
  .devcontainer/proxy/idle-shutdown.sh
  .devcontainer/proxy/install-traefik-service.sh
Due: prettier --write

fix: use static volume names for docker compose compatibility
  .devcontainer/docker-compose.yml
Due: prettier --write

docs: update volumes section for static naming
  .devcontainer/README.md
Due: prettier --write

fix: use volume name property for user isolation
  .devcontainer/README.md
  .devcontainer/docker-compose.yml
Due: prettier --write

fix: use static volume names for docker compose compatibility (#389)
  .devcontainer/README.md
  .devcontainer/docker-compose.yml
Due: prettier --write

fix: configure traefik network and vite for external proxy access
  .devcontainer/docker-compose.yml
  apps/frontend/vite.config.js
  docs/LESSONS_LEARNED.md
Due: eslint --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

fix: restrict vite allowed hosts to specific domains for security
  apps/frontend/vite.config.js
  docs/LESSONS_LEARNED.md
Due: eslint --fix, prettier --write

fix: static volume names and external proxy access for devcontainer (#390)
  .devcontainer/docker-compose.yml
  apps/frontend/vite.config.js
  docs/LESSONS_LEARNED.md
  package-lock.json
Due: eslint --fix, prettier --write

feat: add https with let's encrypt for devcontainer proxy
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
  .devcontainer/proxy/docker-compose.proxy.yml
Due: prettier --write

fix: use per-router https redirect to preserve local domain http access
  .devcontainer/docker-compose.yml
  .devcontainer/proxy/docker-compose.proxy.yml
Due: prettier --write

feat: add https with let's encrypt for devcontainer proxy (#391)
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
  .devcontainer/proxy/docker-compose.proxy.yml
Due: prettier --write

feat: add wildcard ssl certificate with cloudflare dns challenge
  .devcontainer/docker-compose.yml
  .devcontainer/proxy/docker-compose.proxy.yml
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

fix: remove global http redirect to preserve local domain access
  .devcontainer/proxy/docker-compose.proxy.yml
Due: prettier --write

feat: add wildcard ssl certificate with cloudflare dns challenge (#392)
  .devcontainer/docker-compose.yml
  .devcontainer/proxy/docker-compose.proxy.yml
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

chore: update package-lock.json (#393)
  package-lock.json
Due: prettier --write

docs: update documentation for dev.simpleaccounts.io domain
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  .devcontainer/proxy/README.md
  .devcontainer/proxy/docker-compose.proxy.yml
  docs/DEVPOD_SETUP.md
  docs/LESSONS_LEARNED.md
Due: prettier --write

feat: add local docker credential mounts for devcontainer
  .devcontainer/.env.local
  .devcontainer/docker-compose.override.yml.local-example
  .devcontainer/docker-compose.yml
  .gitignore
Due: prettier --write

docs: update documentation for dev.simpleaccounts.io domain (#394)
  .devcontainer/.env.local
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  .devcontainer/docker-compose.override.yml.local-example
  .devcontainer/docker-compose.yml
  .devcontainer/proxy/README.md
  .devcontainer/proxy/docker-compose.proxy.yml
  .gitignore
  docs/DEVPOD_SETUP.md
  docs/LESSONS_LEARNED.md
Due: prettier --write

docs: update documentation for dev.simpleaccounts.io domain and local Docker credentials (#395)
  package-lock.json
Due: prettier --write

docs: comprehensive devcontainer documentation updates and network improvements (#396)
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
  .devcontainer/proxy/README.md
  .devcontainer/proxy/docker-compose.proxy.yml
  docs/DEVPOD_SETUP.md
Due: prettier --write

fix: use static volume names and internal network hostnames for devcontainer (#397)
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
  .devcontainer/proxy/docker-compose.proxy.yml
Due: prettier --write

fix: ensure AI CLI tools are in PATH and auto-detect Cursor IPC socket (#399)
  .devcontainer/Dockerfile
  .devcontainer/install-cli-tools.sh
  .devcontainer/post-start.sh
Due: none

fix(devcontainer): bake tools into image and fix workspace path (#400)
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/post-create.sh
Due: prettier --write

fix: improve devcontainer workspace mount and dependency caching (#401)
  .devcontainer/Dockerfile
  .devcontainer/post-create.sh
Due: none

Path conditions:
  eslint --fix: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: apps/frontend/**/*.{js,jsx,ts,tsx}) or (any of: apps/frontend/**/*.{css,scss})) or (any of: *.{json,md,yml,yaml})
  ./scripts/run-java-formatter.sh: any of: apps/backend/**/*.java
