Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/frontend/**/*.{css,scss}": ["prettier --write"],
  "apps/backend/**/*.java": ["./scripts/run-java-formatter.sh"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(devcontainer): remove || true from chown to catch permission errors
  .devcontainer/docker-compose.yml
  .devcontainer/entrypoint.sh
Due: prettier --write

chore(devcontainer): switch back to pre-built image
  .devcontainer/docker-compose.yml
Due: prettier --write

fix(devcontainer): handle bind-mounted volumes gracefully in entrypoint
  .devcontainer/docker-compose.yml
  .devcontainer/entrypoint.sh
Due: prettier --write

fix(devcontainer): create code-server directories directly in entrypoint
  .devcontainer/docker-compose.yml
  .devcontainer/entrypoint.sh
Due: prettier --write

chore(devcontainer): trigger rebuild after github 502 error
  .devcontainer/entrypoint.sh
Due: none

fix(devcontainer): improve code-server directory creation with better error handling
  .devcontainer/docker-compose.yml
  .devcontainer/entrypoint.sh
Due: prettier --write

fix(devcontainer): use install command with fallback for robust directory creation
  .devcontainer/docker-compose.yml
  .devcontainer/entrypoint.sh
Due: prettier --write

fix(devcontainer): fix eacces permission denied for .local/share directory
  .devcontainer/Dockerfile
Due: none

fix(devcontainer): add missing pgpassword for database validation checks
  .devcontainer/validate-database.sh
Due: none

fix(devcontainer): fix validation script failing with set -e and arithmetic
  .devcontainer/validate-database.sh
Due: none

fix(devcontainer): use version-agnostic sql query for database checks
  .devcontainer/validate-database.sh
Due: none

fix(coder): ensure database init scripts run for all future workspaces
  .coder/template.tf
Due: none

fix(devcontainer): correct websockify web root path for vnc
  .devcontainer/post-start.sh
Due: none

fix(devcontainer): add index.html redirect for novnc coder subdomain apps
  .devcontainer/Dockerfile
Due: none

fix(coder): update vnc app url to use root path for subdomain apps
  .coder/template.tf
Due: none

feat(coder): add code icon for web editors app
  .coder/template.tf
Due: none

feat(coder): remove web editors grouping to show individual editor icons
  .coder/template.tf
Due: none

docs: consolidate documentation and fix theme inconsistencies
  .devcontainer/REVIEW_FINDINGS.md
  AGENTS.md
  CLAUDE.md
  DESIGN-GUIDE.md
  docs/README.md
Due: prettier --write

feat: add E2E tests and update contact controller
  apps/backend/src/main/java/com/simpleaccounts/rest/contactcontroller/ContactController.java
  apps/frontend/.env.e2e
  apps/frontend/e2e/contact-crud.spec.ts
  apps/frontend/e2e/login-test.spec.ts
  apps/frontend/e2e/register-redirect.spec.ts
  apps/frontend/src/screens/register/screen.js
  package-lock.json
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix(devcontainer): pre-install playwright browsers and prevent e2e database clearing
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  apps/frontend/e2e/reset-password-complete.spec.ts
Due: eslint --fix, prettier --write

style: fix prettier formatting issues
  apps/frontend/e2e/contact-crud.spec.ts
  apps/frontend/e2e/login-test.spec.ts
  apps/frontend/src/screens/register/screen.js
Due: eslint --fix, prettier --write

fix(devcontainer): configure jvm memory limits to prevent oom kills
  .devcontainer/devcontainer.json
  apps/backend/run.sh
Due: prettier --write

fix(ci): improve security scan workflow resilience
  .github/workflows/security-scan.yml
Due: prettier --write

feat(contact): replace react-select with shadcn/ui select and enable e2e automation
  CLAUDE.md
  apps/frontend/SHADCN-SELECT-MIGRATION-COMPLETE.md
  apps/frontend/SHADCN-SELECT-MIGRATION-SUMMARY.md
  apps/frontend/e2e/README.md
  apps/frontend/e2e/TEST-RESULTS-SUMMARY.md
  apps/frontend/e2e/address-dropdown-debug.png
  apps/frontend/e2e/address-section.png
  apps/frontend/e2e/after-submit-debug.png
  apps/frontend/e2e/before-submit.png
  apps/frontend/e2e/contact-crud-comprehensive.spec.ts
  apps/frontend/e2e/contact-flow.smoke.spec.ts
  apps/frontend/e2e/contact-search-filter.spec.ts
  apps/frontend/e2e/contact-validation.spec.ts
  apps/frontend/e2e/contact-workflow.spec.ts
  apps/frontend/e2e/debug-address-dropdowns.spec.ts
  apps/frontend/e2e/debug-address-fields.spec.ts
  apps/frontend/e2e/debug-api-call.spec.ts
  apps/frontend/e2e/debug-console-logging.png
  apps/frontend/e2e/debug-contact-page.png
  apps/frontend/e2e/debug-contact-page.spec.ts
  apps/frontend/e2e/debug-create-contact.spec.ts
  apps/frontend/e2e/debug-form-values.spec.ts
  apps/frontend/e2e/debug-onsubmit-handler.spec.ts
  apps/frontend/e2e/debug-shipping-address.spec.ts
  apps/frontend/e2e/debug-step-by-step.spec.ts
  apps/frontend/e2e/debug-submit-errors.spec.ts
  apps/frontend/e2e/debug-validation-check.spec.ts
  apps/frontend/e2e/debug-with-console-logging.spec.ts
  apps/frontend/e2e/helpers/contact-helpers.ts
  apps/frontend/e2e/step-by-step-final.png
  apps/frontend/src/screens/contact/screens/create/screen.jsx
Due: eslint --fix, prettier --write

fix(security): remove token logging and improve password reset flow
  apps/backend/src/main/java/com/simpleaccounts/rest/Logincontroller/LoginRestController.java
  apps/backend/src/main/java/com/simpleaccounts/service/UserService.java
  apps/backend/src/main/java/com/simpleaccounts/service/impl/UserServiceImpl.java
  apps/frontend/e2e/reset-password-debug.spec.ts
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

test: fix LoginRestControllerTest to match updated implementation
  apps/backend/src/test/java/com/simpleaccounts/rest/Logincontroller/LoginRestControllerTest.java
Due: ./scripts/run-java-formatter.sh

fix(dao): add missing UserDao interface methods and implementations
  apps/backend/src/main/java/com/simpleaccounts/dao/UserDao.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/UserDaoImpl.java
Due: ./scripts/run-java-formatter.sh

fix(api,ui): Fix Contact List API 500 error and dropdown visibility issues (#333)
  apps/backend/src/main/java/com/simpleaccounts/rest/contactcontroller/ContactController.java
  apps/frontend/e2e/contact-list-api-issue-333.spec.ts
  apps/frontend/src/components/ui/select.jsx
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/create/screen.jsx
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix(deps): Resolve deprecated npm dependencies (#335)
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

test(e2e): create invoice and receipt operation helpers (tasks #513-514)
  apps/frontend/e2e/helpers/invoice-helpers.ts
  apps/frontend/e2e/helpers/receipt-helpers.ts
Due: eslint --fix, prettier --write

test(e2e): implement invoice-to-payment workflow tests (tasks #515-522)
  apps/frontend/e2e/invoice-to-payment-workflow.spec.ts
Due: eslint --fix, prettier --write

fix(contact): fix po box field styling and contact page improvements
  apps/frontend/POBOX-FIELD-FIX-COMPLETE.md
  apps/frontend/e2e/contact-detail-view.spec.ts
  apps/frontend/e2e/contact-pobox-styling.spec.ts
  apps/frontend/src/components/form_control/zip_code_input.js
  apps/frontend/src/components/form_control/zip_code_input.jsx
  apps/frontend/src/components/ui/data-table-actions.jsx
  apps/frontend/src/index.css
  apps/frontend/src/routes/admin.js
  apps/frontend/src/screens/contact/screen.jsx
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
  apps/frontend/src/screens/contact/screens/edit/index.js
  apps/frontend/src/screens/contact/screens/edit/screen.jsx
  apps/frontend/src/screens/contact/screens/edit/style.scss
  apps/frontend/src/screens/contact/screens/view/index.js
  apps/frontend/src/screens/contact/screens/view/screen.jsx
  apps/frontend/src/screens/contact/screens/view/style.scss
  apps/frontend/src/screens/routes-admin.js
Due: eslint --fix, prettier --write

chore(contact): add e2e tests and documentation for contact improvements
  apps/frontend/CONTACT-DETAIL-DESIGN-IMPROVEMENTS.md
  apps/frontend/CONTACT-DETAIL-IMPROVEMENTS-APPLIED.md
  apps/frontend/CONTACT-DETAIL-PAGE-COMPLETE.md
  apps/frontend/CONTACT-DETAIL-SHADCN-MIGRATION-COMPLETE.md
  apps/frontend/POBOX-FIELD-FIX.md
  apps/frontend/e2e/contact-create-edit-test.spec.ts
  apps/frontend/e2e/contact-layout-simple.spec.ts
  apps/frontend/e2e/contact-layout-test.spec.ts
  apps/frontend/e2e/screenshots/address-fields-comparison.png
  apps/frontend/e2e/screenshots/address-sections.png
  apps/frontend/e2e/screenshots/billing-pobox-field.png
  apps/frontend/e2e/screenshots/contact-create-layout.png
  apps/frontend/e2e/screenshots/contact-create-page-full.png
  apps/frontend/e2e/screenshots/contact-create-radio-buttons.png
  apps/frontend/e2e/screenshots/contact-create-top-section.png
  apps/frontend/e2e/screenshots/contact-edit-page-design.png
  apps/frontend/e2e/screenshots/contact-edit-page-full.png
  apps/frontend/e2e/screenshots/contact-edit-section-card.png
  apps/frontend/e2e/screenshots/contact-edit-sections.png
  apps/frontend/e2e/screenshots/contact-list-mobile.png
  apps/frontend/e2e/screenshots/contact-view-page.png
  apps/frontend/e2e/screenshots/contact-view-tablet.png
  apps/frontend/e2e/screenshots/form-fields-spacing.png
  apps/frontend/e2e/screenshots/radio-buttons-alignment.png
  apps/frontend/e2e/screenshots/shipping-pobox-field.png
  package-lock.json
Due: eslint --fix, prettier --write

chore: additional frontend improvements and e2e test updates
  apps/frontend/e2e/contact-crud-comprehensive.spec.ts
  apps/frontend/e2e/contact-crud.spec.ts
  apps/frontend/e2e/contact-detail-view.spec.ts
  apps/frontend/e2e/contact-search-filter.spec.ts
  apps/frontend/e2e/dashboard.spec.ts
  apps/frontend/e2e/helpers/contact-helpers.ts
  apps/frontend/e2e/settings.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/components/confirm_delete_modal/index.js
  apps/frontend/src/components/form_control/radio_button.jsx
  apps/frontend/src/components/form_control/term_date_input.jsx
  apps/frontend/src/components/form_control/zip_code_input.js
  apps/frontend/src/components/form_control/zip_code_input.jsx
  apps/frontend/src/components/ui/form.jsx
  apps/frontend/src/components/ui/select.jsx
  apps/frontend/src/screens/contact/actions.js
  apps/frontend/src/screens/contact/screen.jsx
  apps/frontend/src/screens/contact/screens/create/screen.jsx
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
  apps/frontend/src/screens/currencyConvert/screen.jsx
  apps/frontend/src/screens/currencyConvert/screens/create/screen.jsx
  apps/frontend/src/screens/currencyConvert/screens/detail/screen.jsx
  apps/frontend/src/screens/employee/screens/create/screen.jsx
  apps/frontend/src/screens/employee/screens/detail/screen.jsx
  apps/frontend/src/screens/product/screen.jsx
  apps/frontend/src/screens/product/screens/create/screen.jsx
  apps/frontend/src/screens/product/screens/detail/screen.jsx
  apps/frontend/src/screens/product_category/screens/create/screen.jsx
  apps/frontend/src/screens/product_category/screens/detail/screen.jsx
  apps/frontend/src/screens/vat_code/screen.jsx
  apps/frontend/src/screens/vat_code/screens/create/screen.jsx
  apps/frontend/src/screens/vat_code/screens/detail/screen.jsx
Due: eslint --fix, prettier --write

fix(contact): fix detail contact test failures
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
Due: eslint --fix, prettier --write
