Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, google-java-format --replace

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "apps/frontend/**/*.{css,scss}": [
    "prettier --write"
  ],
  "apps/backend/**/*.java": [
    "google-java-format --replace"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: address PR review comments - remove unused parameters and null checks
  apps/backend/src/main/java/com/simpleaccounts/rest/InvoiceScannerContoller/InvoiceScannerRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/bankaccountcontroller/BankAccountController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/contactcontroller/ContactController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rfq_po/PoQuatationRestHelper.java
Due: google-java-format --replace

fix: add missing JSON_KEY_INVOICE constant in InvoiceRestHelper
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestHelper.java
Due: google-java-format --replace

fix: add missing constants from S1192 string literal extraction
  apps/backend/src/main/java/com/simpleaccounts/rest/MailController/EmailService.java
  apps/backend/src/main/java/com/simpleaccounts/rest/creditnotecontroller/CreditNoteRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/journalcontroller/JournalRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rfq_po/PoQuatationRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/service/impl/VatReportFilingServiceImpl.java
Due: google-java-format --replace

fix: remove unreachable code and duplicate default label
  apps/backend/src/main/java/com/simpleaccounts/rest/bankaccountcontroller/BankAccountController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/detailedgeneralledgerreport/DetailedGeneralLedgerRestHelper.java
Due: google-java-format --replace

fix: remove unreachable statement in BankAccountRestHelper
  apps/backend/src/main/java/com/simpleaccounts/rest/bankaccountcontroller/BankAccountRestHelper.java
Due: google-java-format --replace

fix: prevent path traversal vulnerability in FileHelper.saveMultiFile
  apps/backend/src/main/java/com/simpleaccounts/utils/FileHelper.java
Due: google-java-format --replace

fix: address CodeQL path traversal and log injection vulnerabilities
  apps/backend/src/main/java/com/simpleaccounts/utils/FileHelper.java
Due: google-java-format --replace

fix: resolve SonarQube issues in test files and helpers
  apps/backend/src/main/java/com/simpleaccounts/helper/ExpenseRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/helper/TransactionHelper.java
  apps/backend/src/test/java/com/simpleaccounts/banking/BankStatementParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/contract/OpenApiContractTest.java
  apps/backend/src/test/java/com/simpleaccounts/integration/RetryBackoffTest.java
  apps/backend/src/test/java/com/simpleaccounts/ledger/GeneralLedgerTest.java
  apps/backend/src/test/java/com/simpleaccounts/payroll/PayrollWorkflowTest.java
  apps/backend/src/test/java/com/simpleaccounts/platform/RateLimiterTest.java
  apps/backend/src/test/java/com/simpleaccounts/resilience/ResilienceTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/DateFormatUtilTest.java
Due: google-java-format --replace

fix: resolve SonarQube issues in test files and helpers (#94)
  apps/backend/src/main/java/com/simpleaccounts/helper/ExpenseRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/helper/TransactionHelper.java
  apps/backend/src/test/java/com/simpleaccounts/banking/BankStatementParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/contract/OpenApiContractTest.java
  apps/backend/src/test/java/com/simpleaccounts/integration/RetryBackoffTest.java
  apps/backend/src/test/java/com/simpleaccounts/ledger/GeneralLedgerTest.java
  apps/backend/src/test/java/com/simpleaccounts/payroll/PayrollWorkflowTest.java
  apps/backend/src/test/java/com/simpleaccounts/platform/RateLimiterTest.java
  apps/backend/src/test/java/com/simpleaccounts/resilience/ResilienceTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/DateFormatUtilTest.java
Due: google-java-format --replace

feat: address sonarqube blocker, critical, and major issues
  apps/backend/src/main/java/com/simpleaccounts/entity/ExpenseBuilder.java
  apps/backend/src/main/java/com/simpleaccounts/helper/ExpenseRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/helper/TransactionHelper.java
  apps/backend/src/test/java/com/simpleaccounts/banking/BankStatementParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/contract/OpenApiContractTest.java
  apps/backend/src/test/java/com/simpleaccounts/integration/RetryBackoffTest.java
  apps/backend/src/test/java/com/simpleaccounts/ledger/GeneralLedgerTest.java
  apps/backend/src/test/java/com/simpleaccounts/payroll/PayrollWorkflowTest.java
  apps/backend/src/test/java/com/simpleaccounts/platform/RateLimiterTest.java
  apps/backend/src/test/java/com/simpleaccounts/resilience/ResilienceTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/DateFormatUtilTest.java
  scripts/fetch-sonarqube-issues.sh
  scripts/remove-unused-imports.py
Due: google-java-format --replace

fix: resolve critical and high github vulnerabilities
  .github/workflows/flaky-test-tracker.yml
  .lintstagedrc.json
  apps/backend/pom.xml
  apps/frontend/package-lock.json
  apps/frontend/package.json
  scripts/run-java-formatter.sh
Due: prettier --write

fix: resolve compilation errors and upgrade to springfox 3.0.0
  apps/backend/pom.xml
  apps/backend/src/main/java/com/simpleaccounts/swagger/SwaggerConfig.java
  apps/backend/src/main/java/com/simpleaccounts/utils/MailUtility.java
Due: google-java-format --replace

fix: remove commented-out code from xml files
  apps/backend/src/main/webapp/resources/migration/ApplicationMigration.xml
  apps/backend/src/main/webapp/resources/migration/simpleAccounts_v1.xml
  apps/backend/src/main/webapp/resources/migration/zoho_v3.4.xml
Due: none

fix: resolve frontend unit tests and dependency vulnerabilities
  apps/backend/pom.xml
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

fix: resolve dependency vulnerabilities and frontend tests
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

fix: remove vulnerable and unused react-images-uploader dependency
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/screens/transaction_category/screen.js
Due: eslint --fix, prettier --write

fix: replace vulnerable xlsx package with exceljs
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/screens/detailed_general_ledger_report/screen.js
  apps/frontend/src/screens/financial_report/sections/Excise_Audit_Report/screen.js
  apps/frontend/src/screens/financial_report/sections/Fta_Audit_Report/screen.js
  apps/frontend/src/screens/financial_report/sections/ar_aging_report/screen.js
  apps/frontend/src/screens/financial_report/sections/balance_sheet/screen.js
  apps/frontend/src/screens/financial_report/sections/cashflow/screen.js
  apps/frontend/src/screens/financial_report/sections/corporate_tax/screens/view/screen.js
  apps/frontend/src/screens/financial_report/sections/credit_note_details/screen.js
  apps/frontend/src/screens/financial_report/sections/customer_account_statement/screen.js
  apps/frontend/src/screens/financial_report/sections/debit_note_details/screen.js
  apps/frontend/src/screens/financial_report/sections/expense_by_catogery/screen.js
  apps/frontend/src/screens/financial_report/sections/expense_details/screen.js
  apps/frontend/src/screens/financial_report/sections/horizontal_balance_sheet/screen.js
  apps/frontend/src/screens/financial_report/sections/invoice_details/screen.js
  apps/frontend/src/screens/financial_report/sections/payables_invoice_details/screen.js
  apps/frontend/src/screens/financial_report/sections/payables_invoice_summary/screen.js
  apps/frontend/src/screens/financial_report/sections/payroll_summary/screen.js
  apps/frontend/src/screens/financial_report/sections/profit_and_loss/screen.js
  apps/frontend/src/screens/financial_report/sections/purchase_by_item/screen.js
  apps/frontend/src/screens/financial_report/sections/purchase_by_vendor/screen.js
  apps/frontend/src/screens/financial_report/sections/receivable_invoice_details/screen.js
  apps/frontend/src/screens/financial_report/sections/receivable_invoice_summary/screen.js
  apps/frontend/src/screens/financial_report/sections/sales_by_customer/screen.js
  apps/frontend/src/screens/financial_report/sections/sales_by_product/screen.js
  apps/frontend/src/screens/financial_report/sections/soa_statementsOfAccounts/screen.js
  apps/frontend/src/screens/financial_report/sections/trail_Balances/screen.js
  apps/frontend/src/screens/financial_report/sections/vat_return/screen.js
  apps/frontend/src/screens/import_transaction/screen.js
  apps/frontend/src/screens/inventory/sections/inventory_dashboard/index.js
  apps/frontend/src/screens/inventory/sections/inventory_summary/index.js
  apps/frontend/src/utils/excelExport.js
  apps/frontend/src/utils/index.js
Due: eslint --fix, prettier --write

fix: allow dual-licensed jszip and itextpdf in dependency review
  .github/workflows/security.yml
Due: prettier --write

fix: update flag-icon-css import path
  apps/frontend/src/app.scss
Due: prettier --write

fix: update jest transform ignore patterns for codemirror
  apps/frontend/package.json
Due: prettier --write

fix: update react-loader-spinner usage and flag-icon-css import
  apps/frontend/src/app.scss
  apps/frontend/src/components/react-image-upload/index.js
Due: eslint --fix, prettier --write

fix: resolve ci failures after dependency upgrades
  apps/backend/pom.xml
  apps/backend/src/test/java/com/simpleaccounts/utils/CommonsLibraryTest.java
  apps/frontend/src/app.scss
Due: prettier --write, google-java-format --replace

fix: docker compose local build and login issues
  apps/backend/pom.xml
  apps/frontend/env.sh
  apps/frontend/nginx/conf.d/nginx-cloudrun.conf
  apps/frontend/src/screens/log_in/screen.js
  deploy/docker/docker-compose.yml
Due: eslint --fix, prettier --write

chore: update Dockerfile and test configurations
  apps/backend/Dockerfile
  apps/backend/src/main/java/com/simpleaccounts/helper/DashboardCacheKeyUtil.java
  apps/backend/src/main/java/com/simpleaccounts/uae/LocaleFormatUtil.java
  apps/backend/src/test/java/com/simpleaccounts/helper/DashboardRestHelperTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/CsvParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/ExcelParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/H2Functions.java
  apps/backend/src/test/java/com/simpleaccounts/rest/financialreport/FinancialReportControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactionparsingcontroller/TransactionParsingSettingControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/AuthenticationRequiredTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/CustomUserDetailsTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/bankaccount/ReconcileStatusServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/LocaleFormatTest.java
  apps/backend/src/test/resources/data/uae/wps_expected.csv
  apps/frontend/e2e/environment.smoke.spec.ts
  apps/frontend/e2e/reconcile.smoke.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/actions.test.js
  apps/frontend/src/screens/customer_invoice/reducer.test.js
  apps/frontend/src/screens/customer_invoice/screens/create/actions.test.js
  apps/frontend/src/screens/expense/reducer.test.js
  apps/frontend/src/screens/expense/screens/create/actions.test.js
  apps/frontend/src/test/msw/server.js
  apps/frontend/tsconfig.playwright.json
Due: eslint --fix, prettier --write, google-java-format --replace

fix: resolve frontend history incompatibility and backend commons-csv error
  apps/backend/pom.xml
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

fix: downgrade commons-lang3 and use stable csv api
  apps/backend/pom.xml
  apps/backend/src/main/java/com/simpleaccounts/rest/transactionimportcontroller/TransactionImportRestHelper.java
Due: google-java-format --replace

fix: update commons-csv to 1.12.0 and disable failing library tests
  apps/backend/pom.xml
  apps/backend/src/test/java/com/simpleaccounts/utils/CommonsLibraryTest.java
  docs/LESSONS_LEARNED.md
Due: prettier --write, google-java-format --replace

test: stabilize dateutils diff test
  apps/backend/src/test/java/com/simpleaccounts/utils/UtilityTests.java
Due: google-java-format --replace

fix: add multi-stage builds to dockerfiles
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
Due: none

fix: Docker compose local build and login fixes (#96)
  apps/backend/Dockerfile
  apps/backend/pom.xml
  apps/backend/src/main/java/com/simpleaccounts/helper/DashboardCacheKeyUtil.java
  apps/backend/src/main/java/com/simpleaccounts/uae/LocaleFormatUtil.java
  apps/backend/src/test/java/com/simpleaccounts/helper/DashboardRestHelperTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/CsvParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/ExcelParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/H2Functions.java
  apps/backend/src/test/java/com/simpleaccounts/rest/financialreport/FinancialReportControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactionparsingcontroller/TransactionParsingSettingControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/AuthenticationRequiredTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/CustomUserDetailsTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/bankaccount/ReconcileStatusServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/LocaleFormatTest.java
  apps/backend/src/test/resources/data/uae/wps_expected.csv
  apps/frontend/Dockerfile
  apps/frontend/e2e/environment.smoke.spec.ts
  apps/frontend/e2e/reconcile.smoke.spec.ts
  apps/frontend/env.sh
  apps/frontend/nginx/conf.d/nginx-cloudrun.conf
  apps/frontend/playwright.config.ts
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/actions.test.js
  apps/frontend/src/screens/customer_invoice/reducer.test.js
  apps/frontend/src/screens/customer_invoice/screens/create/actions.test.js
  apps/frontend/src/screens/expense/reducer.test.js
  apps/frontend/src/screens/expense/screens/create/actions.test.js
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/test/msw/server.js
  apps/frontend/tsconfig.playwright.json
  deploy/docker/docker-compose.yml
Due: eslint --fix, prettier --write, google-java-format --replace

fix(security): address CodeQL alerts
  apps/backend/src/main/java/com/simpleaccounts/rest/datalistcontroller/DataListController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/financialreport/VatReportFilingRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/migrationcontroller/MigrationController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/rolecontroller/RoleModuleController.java
  apps/backend/src/main/java/com/simpleaccounts/security/JwtAuthenticationController.java
  apps/backend/src/main/java/com/simpleaccounts/service/migrationservices/ZohoMigrationService.java
  apps/backend/src/main/java/com/simpleaccounts/utils/FileHelper.java
Due: google-java-format --replace

fix(security): restrict migration sample download
  apps/backend/src/main/java/com/simpleaccounts/rest/migrationcontroller/MigrationController.java
Due: google-java-format --replace
