Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix(security): address CodeQL security alerts
  GITHUB_ISSUE_DASHBOARD_ACTIVATION.md
  PR_DESCRIPTION_UPDATED.md
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/backend/src/main/java/com/simpleaccounts/security/SimpleCorsFilter.java
  apps/backend/src/main/java/com/simpleaccounts/utils/EmailSender.java
  apps/frontend/src/services/global/index.js
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: correct EmailSender.java syntax error
  apps/backend/src/main/java/com/simpleaccounts/utils/EmailSender.java
Due: ./scripts/run-java-formatter.sh

fix(security): address remaining CodeQL security alerts
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyRestHelper.java
Due: ./scripts/run-java-formatter.sh

chore: remove unused StringUtils import
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
Due: ./scripts/run-java-formatter.sh

fix: export getUserSubscription and handle RTK thunk response
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/services/global/auth/actions.js
  apps/frontend/src/services/global/index.js
Due: eslint --fix, prettier --write

fix(dashboard): resolve chart.js v4 registration and null reference errors
  apps/frontend/e2e/registration-login.spec.ts
  apps/frontend/e2e/visual-check.spec.ts
  apps/frontend/src/components/charts.test.js
  apps/frontend/src/index.js
  apps/frontend/src/layouts/admin/index.jsx
  apps/frontend/src/routes/admin.js
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/dashboard/sections/cash_flow/index.js
  apps/frontend/src/screens/dashboard/sections/invoice/index.js
  apps/frontend/src/screens/dashboard/sections/paid_invoices/index.js
  apps/frontend/src/screens/dashboard/sections/revenue_expense/index.js
  apps/frontend/src/screens/inventory/sections/inventory_dashboard/index.js
  apps/frontend/src/utils/chartRegistry.js
Due: eslint --fix, prettier --write

docs: add comprehensive getting started guide to agents.md
  AGENTS.md
Due: prettier --write

fix(dashboard): resolve multiple dashboard display issues
  apps/backend/src/main/java/com/simpleaccounts/aop/LogExecutionTimeAspect.java
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyRestHelper.java
  apps/backend/src/main/resources/logback.xml
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/layouts/admin/index.jsx
  apps/frontend/src/screens/dashboard/dashboardSlice.js
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/dashboard/sections/profit_loss_report/index.js
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/services/store.js
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

docs: create setup.md and refactor agents.md
  AGENTS.md
  SETUP.md
Due: prettier --write

debug: add comprehensive logging for dashboard debugging
  apps/frontend/src/screens/dashboard/screen.js
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/dashboard/sections/cash_flow/index.js
  apps/frontend/src/screens/dashboard/sections/paid_invoices/index.js
  apps/frontend/src/services/global/common/commonSlice.js
  apps/frontend/src/services/store.js
Due: eslint --fix, prettier --write

fix: add null safety checks to prevent dashboard crashes
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/dashboard/sections/cash_flow/index.js
Due: eslint --fix, prettier --write

debug: add route rendering logs to identify dashboard routing issue
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/layouts/private.js
Due: eslint --fix, prettier --write

debug: add comprehensive logging for route and role list debugging
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/layouts/private.js
Due: eslint --fix, prettier --write

fix: allow Dashboard to render even with empty role list
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/layouts/private.js
Due: eslint --fix, prettier --write

debug: add more detailed route logging
  apps/frontend/src/layouts/admin/index.js
Due: eslint --fix, prettier --write

debug: add comprehensive logging for dashboard route detection
  apps/frontend/src/layouts/admin/index.js
Due: eslint --fix, prettier --write

debug: enhance render logging for dashboard route
  apps/frontend/src/layouts/admin/index.js
Due: eslint --fix, prettier --write

fix: remove module-level console.log causing initialization error
  apps/frontend/src/layouts/admin/index.js
Due: eslint --fix, prettier --write

fix(dashboard): resolve multiple dashboard display issues for #237
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/dashboard/sections/profit_loss_report/index.js
  apps/frontend/src/services/store.js
Due: eslint --fix, prettier --write

fix: remove stray closing paren and fix currency conversion payload
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/services/global/common/commonSlice.js
Due: eslint --fix, prettier --write

chore: prepare environment for auth screens migration
  .gitignore
  .next-steps-167.md
  apps/backend/.mvn/wrapper/maven-wrapper.properties
  apps/backend/src/main/java/com/simpleaccounts/security/WebSecurityConfig.java
  apps/backend/src/test/java/com/simpleaccounts/utils/DateUtilsTest.java
  package.json
Due: prettier --write, ./scripts/run-java-formatter.sh

fix(frontend): resolve formik/yup validation error yuperror.inner.length
  apps/backend/src/main/java/com/simpleaccounts/util/PasswordHashGenerator.java
  apps/frontend/src/components/FormikWithYupFix.jsx
  apps/frontend/src/index.js
  apps/frontend/src/screens/product/screens/detail/screen.js
  apps/frontend/src/screens/profile/screen.js
  apps/frontend/src/screens/project/sections/contact_modal.js
  apps/frontend/src/screens/receipt/screens/create/screen.js
  apps/frontend/src/utils/formikYupPatch.js
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

docs: add dashboard screenshot proof of formik/yup fix
  dashboard-screenshot.png
Due: none

fix(ui): align header layout and cash flow icons
  apps/frontend/src/components/header/style.scss
  apps/frontend/src/layouts/admin/style.scss
  apps/frontend/src/screens/dashboard/sections/cash_flow/index.js
Due: eslint --fix, prettier --write

feat(auth): migrate login, logout, and reset password screens to React Hook Form + Zod
  apps/backend/src/main/java/com/simpleaccounts/security/CorsConfig.java
  apps/frontend/env.sh
  apps/frontend/src/components/ProtectedRoute.jsx
  apps/frontend/src/components/header/index.js
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/routes/main.js
  apps/frontend/src/screens/index.js
  apps/frontend/src/screens/log_in/index.js
  apps/frontend/src/screens/log_in/screen-two.jsx
  apps/frontend/src/screens/log_in/screen.jsx
  apps/frontend/src/screens/log_in/style.scss
  apps/frontend/src/screens/register/screen.js
  apps/frontend/src/screens/reset_password/index.js
  apps/frontend/src/screens/reset_password/screen.jsx
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

feat(auth): migrate register screen to React Hook Form + Zod
  apps/frontend/src/screens/register/index.js
  apps/frontend/src/screens/register/screen.jsx
Due: eslint --fix, prettier --write

feat(auth): migrate all authentication screens to React Hook Form + Zod
  apps/frontend/e2e/auth-flow-complete.spec.ts
  apps/frontend/src/index.js
  apps/frontend/src/screens/new_password/index.js
  apps/frontend/src/screens/new_password/screen.jsx
  apps/frontend/src/screens/reset_password/screen.jsx
  apps/frontend/src/screens/reset_password/sections/index.js
  apps/frontend/src/screens/reset_password/sections/reset_new_password.jsx
  apps/frontend/src/utils/formikYupPatch.js
Due: eslint --fix, prettier --write

fix(frontend): handle read-only yupToFormErrors property gracefully
  apps/frontend/src/index.js
  apps/frontend/src/utils/formikYupPatch.js
Due: eslint --fix, prettier --write

fix(frontend): suppress read-only yupToFormErrors debug messages
  apps/frontend/src/utils/formikYupPatch.js
Due: eslint --fix, prettier --write

fix(reset-password): remove FormField usage, use standard React Hook Form pattern
  apps/frontend/src/screens/reset_password/screen.jsx
Due: eslint --fix, prettier --write

feat(auth): add logo and consistent design to new password screens
  apps/frontend/e2e/auth-flow-complete.spec.ts
  apps/frontend/src/screens/new_password/screen.jsx
  apps/frontend/src/screens/reset_password/sections/reset_new_password.jsx
Due: eslint --fix, prettier --write

fix(auth): fix JSX structure and remove unused CardHeader imports
  apps/frontend/src/screens/new_password/screen.jsx
  apps/frontend/src/screens/reset_password/sections/reset_new_password.jsx
Due: eslint --fix, prettier --write

fix(auth): fix JSX indentation - Row elements must be inside Form
  apps/frontend/src/screens/new_password/screen.jsx
  apps/frontend/src/screens/reset_password/sections/reset_new_password.jsx
Due: eslint --fix, prettier --write

fix(auth): fix all JSX indentation issues in password screens
  apps/frontend/src/screens/new_password/screen.jsx
  apps/frontend/src/screens/reset_password/sections/reset_new_password.jsx
Due: eslint --fix, prettier --write

fix(auth): fix all remaining JSX indentation issues
  apps/frontend/src/screens/new_password/screen.jsx
  apps/frontend/src/screens/reset_password/sections/reset_new_password.jsx
Due: eslint --fix, prettier --write

fix(auth): fix Input element prop indentation in reset_new_password
  apps/frontend/src/screens/reset_password/sections/reset_new_password.jsx
Due: eslint --fix, prettier --write

fix(auth): add missing closing div tag in reset_new_password
  apps/frontend/src/screens/reset_password/sections/reset_new_password.jsx
Due: eslint --fix, prettier --write

fix(auth): add missing closing div tag and fix Input prop indentation in new_password
  apps/frontend/src/screens/new_password/screen.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: apps/frontend/**/*.{js,jsx,ts,tsx}) or (any of: apps/frontend/**/*.{css,scss})) or (any of: *.{json,md,yml,yaml})
  ./scripts/run-java-formatter.sh: any of: apps/backend/**/*.java
