Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: comprehensive database setup fixes and automation
  .devcontainer/.env.credentials
  .devcontainer/.env.example
  .devcontainer/DATABASE_SETUP.md
  .devcontainer/MIGRATION_GUIDE.md
  .devcontainer/README.md
  .devcontainer/REVIEW_FINDINGS.md
  .devcontainer/docker-compose.yml
  .devcontainer/init-db.sh
  .devcontainer/init-db.sql
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  .devcontainer/setup-env.sh
  .devcontainer/validate-database.sh
  apps/backend/src/main/resources/application.properties
Due: prettier --write

fix: comprehensive database setup fixes and automation (#454)
  .devcontainer/.env.credentials
  .devcontainer/.env.example
  .devcontainer/DATABASE_SETUP.md
  .devcontainer/MIGRATION_GUIDE.md
  .devcontainer/README.md
  .devcontainer/REVIEW_FINDINGS.md
  .devcontainer/docker-compose.yml
  .devcontainer/init-db.sh
  .devcontainer/init-db.sql
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  .devcontainer/setup-env.sh
  .devcontainer/validate-database.sh
  apps/backend/src/main/resources/application.properties
Due: prettier --write

fix(coder): sync random password to init-db.sh and fix redis env vars
  .coder/DATABASE_PASSWORD_SYNC.md
  .coder/README.md
  .coder/template.tf
Due: prettier --write

fix(coder): sync random password to init-db.sh and fix redis env vars (#455)
  .coder/DATABASE_PASSWORD_SYNC.md
  .coder/README.md
  .coder/template.tf
Due: prettier --write

fix(devcontainer): add postgresql password synchronization on startup
  .coder/template.tf
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
  .devcontainer/postgres-startup-hook.sh
  .devcontainer/sync-db-password.sh
Due: prettier --write

fix(devcontainer): add postgresql password synchronization on startup (#456)
  .coder/template.tf
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
  .devcontainer/postgres-startup-hook.sh
  .devcontainer/sync-db-password.sh
Due: prettier --write

fix: ensure white text on primary buttons (#453)
  apps/frontend/src/assets/css/tailwind.css
Due: prettier --write

feat: pre-install sonarqube mcp server in devcontainer
  .devcontainer/Dockerfile
  .devcontainer/post-start.sh
  .mcp.json
Due: prettier --write

feat: pre-install sonarqube mcp server in devcontainer (#457)
  .devcontainer/Dockerfile
  .devcontainer/post-start.sh
  .mcp.json
Due: prettier --write

docs: consolidate and reorganize markdown documentation
  .github/PR-fix-standardize-vscode-user.md
  SETUP.md
  docs/DEVELOPMENT.md
  docs/README.md
  docs/THEME.md
  docs/coder/CI-CD-SETUP.md
  docs/coder/DEPLOYMENT.md
  docs/coder/MIGRATION_GUIDE.md
  docs/coder/SECURITY.md
  docs/coder/TRAEFIK_INTEGRATION.md
  docs/devcontainer/CODER-SETUP.md
  docs/development/PRE_PR_CHECKLIST.md
  docs/templates/dev-environment-setup.md
Due: prettier --write

feat(ui): improve registration and login form ux
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/screens/register/screen.js
Due: eslint --fix, prettier --write

feat(ui): improve registration and login form ux (#458)
  .github/PR-fix-standardize-vscode-user.md
  SETUP.md
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/screens/register/screen.js
  docs/DEVELOPMENT.md
  docs/README.md
  docs/THEME.md
  docs/coder/CI-CD-SETUP.md
  docs/coder/DEPLOYMENT.md
  docs/coder/MIGRATION_GUIDE.md
  docs/coder/SECURITY.md
  docs/coder/TRAEFIK_INTEGRATION.md
  docs/devcontainer/CODER-SETUP.md
  docs/development/PRE_PR_CHECKLIST.md
  docs/templates/dev-environment-setup.md
Due: eslint --fix, prettier --write

feat(ui): increase sidebar logo size
  apps/frontend/src/layouts/components/sidebar.jsx
Due: eslint --fix, prettier --write

feat(ui): increase sidebar logo size (#459)
  apps/frontend/src/layouts/components/sidebar.jsx
Due: eslint --fix, prettier --write

fix(env): fix environment variables for coder and local devcontainer
  .coder/template.tf
  .devcontainer/.env.example
  .devcontainer/post-create.sh
  .devcontainer/setup-env.sh
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

chore: fix formatting for auto-generated config files
  .auto-claude-security.json
  .claude_settings.json
Due: prettier --write

fix(vite,cors): fix spa routing and cors configuration
  .coder/template.tf
  .devcontainer/.env.example
  .devcontainer/post-create.sh
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

fix(env): fix environment variables for coder and local devcontainer (#460)
  .auto-claude-security.json
  .claude_settings.json
  .coder/template.tf
  .devcontainer/.env.example
  .devcontainer/post-create.sh
  .devcontainer/setup-env.sh
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

perf(frontend): optimize vite pre-bundling for faster dev server startup
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

perf(frontend): optimize dependencies and fix compatibility issues
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/datepicker/index.js
  apps/frontend/src/components/index.js
  apps/frontend/src/screens/expense/screen.jsx
  apps/frontend/src/screens/profile/screen.jsx
  apps/frontend/src/screens/reports_filing/screen.jsx
  apps/frontend/src/screens/tax_report/screen.jsx
  apps/frontend/src/screens/transactions_report/sections/customer_report/index.jsx
  apps/frontend/src/screens/transactions_report/sections/expense_report/index.jsx
  apps/frontend/src/services/global/auth/authSlice.js
  apps/frontend/src/utils/crypto.js
  apps/frontend/src/utils/excelExport.js
  apps/frontend/src/utils/react-dom-server-stub.js
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

feat(ui): enhance remember me toggle with neumorphic curved design
  apps/frontend/src/screens/log_in/screen.js
Due: eslint --fix, prettier --write

fix(ui): ensure toggle has perfect pill-shaped rounded corners
  apps/frontend/src/screens/log_in/screen.js
Due: eslint --fix, prettier --write

chore(debug): add console logging to diagnose login redirect issue
  apps/frontend/src/screens/log_in/screen.js
Due: eslint --fix, prettier --write

feat(ui): use logo green color for input focus border
  apps/frontend/src/screens/log_in/screen.js
Due: eslint --fix, prettier --write

fix(login): remove black outline from input focus, show only green border
  apps/frontend/src/screens/log_in/screen.js
Due: eslint --fix, prettier --write

fix(ui): remove default focus ring from input component
  apps/frontend/src/components/ui/input.jsx
Due: eslint --fix, prettier --write

fix(auth): add authorization header to api requests
  apps/frontend/src/utils/api.js
Due: eslint --fix, prettier --write

fix(login): use replace navigation to prevent history issues
  apps/frontend/src/screens/log_in/screen.js
Due: eslint --fix, prettier --write

fix(auth): add null check for access token in auth api interceptor
  apps/frontend/src/utils/auth_api.js
Due: eslint --fix, prettier --write

fix(auth): improve token validation and add debug logging
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/utils/api.js
  apps/frontend/src/utils/auth_api.js
Due: eslint --fix, prettier --write

fix(backend): resolve hibernate lazy initialization errors
  apps/backend/src/main/java/com/simpleaccounts/entity/User.java
  apps/backend/src/main/java/com/simpleaccounts/rest/bankaccountcontroller/BankAccountController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/currencyconversioncontroller/CurrencyConversionController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/rolecontroller/RoleModuleController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/usercontroller/UserController.java
  apps/backend/src/main/java/com/simpleaccounts/security/JwtRequestFilter.java
  apps/frontend/e2e/test-login-redirect.spec.ts
  apps/frontend/src/constants/config.js
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/dashboard/sections/cash_flow/index.js
  apps/frontend/src/screens/dashboard/sections/paid_invoices/index.jsx
  apps/frontend/src/utils/auth_api.js
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

feat(ui): enhance remember me toggle with neumorphic curved design (#463)
  apps/backend/src/main/java/com/simpleaccounts/entity/User.java
  apps/backend/src/main/java/com/simpleaccounts/rest/bankaccountcontroller/BankAccountController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/currencyconversioncontroller/CurrencyConversionController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/rolecontroller/RoleModuleController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/usercontroller/UserController.java
  apps/backend/src/main/java/com/simpleaccounts/security/JwtRequestFilter.java
  apps/frontend/e2e/test-login-redirect.spec.ts
  apps/frontend/src/components/ui/input.jsx
  apps/frontend/src/constants/config.js
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/dashboard/sections/cash_flow/index.js
  apps/frontend/src/screens/dashboard/sections/paid_invoices/index.jsx
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/utils/api.js
  apps/frontend/src/utils/auth_api.js
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

feat(ui): migrate from neumorphic to minimal corporate theme
  CLAUDE.md
  DESIGN-GUIDE.md
  MIGRATION-TO-CORPORATE.md
  apps/frontend/src/index.css
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/layouts/components/header.jsx
  apps/frontend/src/layouts/components/sidebar.jsx
  apps/frontend/src/screens/dashboard/screen.js
  apps/frontend/src/screens/dashboard/style.scss
  apps/frontend/tailwind.config.js
Due: eslint --fix, prettier --write

test(sidebar): update test to match corporate theme active state
  apps/frontend/src/__tests__/layouts/sidebar.test.jsx
Due: eslint --fix, prettier --write

feat(coder): add code-server web ide support
  .coder/template.tf
  .devcontainer/Dockerfile
Due: none

Path conditions:
  eslint --fix: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: apps/frontend/**/*.{js,jsx,ts,tsx}) or (any of: apps/frontend/**/*.{css,scss})) or (any of: *.{json,md,yml,yaml})
  ./scripts/run-java-formatter.sh: any of: apps/backend/**/*.java
