Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix(tests): Add missing reducers and improve test assertions
  apps/frontend/src/screens/customer_invoice/__tests__/CustomerInvoice.test.js
Due: eslint --fix, prettier --write

fix(tests): Add product reducer and improve button test assertion
  apps/frontend/src/screens/customer_invoice/__tests__/CustomerInvoice.test.js
Due: eslint --fix, prettier --write

fix(test): Use invoiceButton variable in assertion
  apps/frontend/src/screens/customer_invoice/__tests__/CustomerInvoice.test.js
Due: eslint --fix, prettier --write

fix(view): Add optional chaining guard for location.state.id access
  apps/frontend/src/screens/customer_invoice/screens/view/screen.jsx
Due: eslint --fix, prettier --write

style: Fix Prettier formatting in CustomerInvoice test file
  apps/frontend/src/screens/customer_invoice/__tests__/CustomerInvoice.test.js
Due: eslint --fix, prettier --write

fix(test): Update test mock to use correct DataTable component
  apps/frontend/src/screens/customer_invoice/__tests__/CustomerInvoice.test.js
Due: eslint --fix, prettier --write

test: Mock CustomerInvoice actions to prevent unhandled promise rejections
  apps/frontend/src/screens/customer_invoice/__tests__/CustomerInvoice.test.js
Due: eslint --fix, prettier --write

feat: add comprehensive pre-PR validation checks
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .scripts/README.md
  .scripts/pre-pr-check.sh
  package.json
Due: prettier --write

docs: add pre-PR validation checklist and workflow guide
  .scripts/PRE_PR_CHECKLIST.md
Due: prettier --write

fix: resolve PR #297 merge issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/backend/README_START.md
  apps/backend/SECURITY_NOTES.md
  apps/backend/src/perf/k6/load-test.js
  apps/backend/src/test/resources/security-scan-config.yaml
  apps/frontend/playwright.config.ts
  apps/frontend/run.sh
  commitlint.config.js
  deploy/docker/docker-compose.yml
  docs/TESTING_STRATEGY.md
  docs/templates/pr-checklist.md
  k6/load-test.js
  k6/smoke-test.js
  k6/stress-test.js
  scripts/run-java-formatter.sh
Due: eslint --fix, prettier --write

fix: correct ESLint path in lint-staged and format files
  .lintstagedrc.json
Due: prettier --write

style: format markdown files with Prettier
  .scripts/PRE_PR_CHECKLIST.md
  .scripts/README.md
Due: prettier --write

feat: enhance chart of accounts page with search, filter, and improved ui
  apps/frontend/src/components/ui/data-table.jsx
  apps/frontend/src/components/ui/neumorphic-pagination.jsx
  apps/frontend/src/screens/chart_account/screen.jsx
Due: eslint --fix, prettier --write

style: update master screens with neumorphic styling
  apps/backend/src/main/java/com/simpleaccounts/util/PasswordHashGenerator.java
  apps/frontend/src/screens/chart_account/style.scss
  apps/frontend/src/screens/contact/screen.jsx
  apps/frontend/src/screens/contact/style.scss
  apps/frontend/src/screens/currency/screen.jsx
  apps/frontend/src/screens/currency/style.scss
  apps/frontend/src/screens/employee/screen.jsx
  apps/frontend/src/screens/employee/style.scss
  apps/frontend/src/screens/product/screen.jsx
  apps/frontend/src/screens/product/style.scss
  apps/frontend/src/screens/product_category/screen.jsx
  apps/frontend/src/screens/product_category/style.scss
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: update postcss config for tailwindcss 4.x
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/postcss.config.js
Due: eslint --fix, prettier --write

fix: replace @apply directives for tailwindcss 4.x compatibility
  apps/frontend/src/assets/css/tailwind.css
Due: prettier --write

fix: add react-dom 19.2.3 for react 19 compatibility
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/screens/project/__tests__/Project.test.js
Due: eslint --fix, prettier --write

fix: add test config to resolve bean conflicts with springdoc 3.x
  apps/backend/src/test/resources/application.properties
Due: none

fix: update html2pdf to 6.0.0 for itext-core 9.x compatibility
  apps/backend/pom.xml
Due: none

chore: use pre-built devcontainer image from ghcr.io
  .devcontainer/docker-compose.yml
  apps/backend/src/main/java/com/simpleaccounts/util/PasswordHashGenerator.java
  apps/frontend/package-lock.json
  package-lock.json
Due: prettier --write, ./scripts/run-java-formatter.sh

fix: update itext-core to 9.4.0 with html2pdf 6.0.0 compatibility (#325)
  .devcontainer/docker-compose.yml
  apps/backend/src/main/java/com/simpleaccounts/util/PasswordHashGenerator.java
  apps/frontend/package-lock.json
  package-lock.json
Due: prettier --write, ./scripts/run-java-formatter.sh

docs: add devpod setup guide for new developers
  docs/DEVPOD_SETUP.md
Due: prettier --write

feat(devcontainer): pre-cache npm and maven dependencies in image
  .devcontainer/Dockerfile
  .devcontainer/post-create.sh
Due: none

fix(devcontainer): bake tools into image and fix workspace path
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post-create.sh
Due: prettier --write

fix(devcontainer): bake tools into image and fix workspace path (#326)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post-create.sh
Due: prettier --write

fix(devcontainer): add workspace mount to docker-compose
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier --write

fix(devcontainer): add workspace mount to docker-compose (#327)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier --write

chore(devcontainer): optimize prebuilt image performance
  .devcontainer/Dockerfile
  .devcontainer/post-create.sh
Due: none

chore(devcontainer): optimize prebuilt image performance (#328)
  .devcontainer/Dockerfile
  .devcontainer/post-create.sh
Due: none

fix(devcontainer): remove duplicate instructions and include .npmrc
  .devcontainer/Dockerfile
Due: none

chore(devcontainer): optimize prebuilt image performance (v2) (#329)
  .devcontainer/Dockerfile
Due: none

fix(devcontainer): use Maven wrapper for dependency caching
  .devcontainer/Dockerfile
Due: none

fix(devcontainer): use Maven wrapper for dependency caching (#330)
  .devcontainer/Dockerfile
Due: none

fix(devcontainer): add npm install fallback in post-create script
  .devcontainer/post-create.sh
Due: none

fix(devcontainer): add npm install fallback in post-create script (#331)
  .devcontainer/post-create.sh
Due: none

fix(devcontainer): resolve maven wrapper and npm sync errors
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/install-cli-tools.sh
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: apps/frontend/**/*.{js,jsx,ts,tsx}) or (any of: apps/frontend/**/*.{css,scss})) or (any of: *.{json,md,yml,yaml})
  ./scripts/run-java-formatter.sh: any of: apps/backend/**/*.java
