Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/frontend/**/*.{css,scss}": ["prettier --write"],
  "apps/backend/**/*.java": ["./scripts/run-java-formatter.sh"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: remove duplicate discount and vat_amount variable declarations
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  .devcontainer/proxy/README.md
  apps/frontend/src/components/product_table_calculatoin/index.js
  docs/DEVPOD_SETUP.md
  docs/LESSONS_LEARNED.md
Due: eslint --fix, prettier --write

fix: remove duplicate discount and vat_amount variable declarations (#402)
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  .devcontainer/proxy/README.md
  apps/frontend/src/components/product_table_calculatoin/index.js
  docs/DEVPOD_SETUP.md
  docs/LESSONS_LEARNED.md
Due: eslint --fix, prettier --write

fix: resolve merge conflicts in devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/install-cli-tools.sh
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
Due: prettier --write

fix: remove unused imports in contact screens
  apps/frontend/src/__mocks__/reactstrap.js
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/create/screen.jsx
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
  apps/frontend/src/screens/contact/sections/addressComponent.jsx
Due: eslint --fix, prettier --write

fix: restore controller import needed in detail screen
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
Due: eslint --fix, prettier --write

fix: resolve merge conflicts in devcontainer configuration (#403)
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/install-cli-tools.sh
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  apps/frontend/src/__mocks__/reactstrap.js
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/create/screen.jsx
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
  apps/frontend/src/screens/contact/sections/addressComponent.jsx
Due: eslint --fix, prettier --write

fix: change primary button text color to white for better visibility
  apps/frontend/src/assets/css/tailwind.css
Due: prettier --write

fix: change primary button text color to white for better visibility (#404)
  apps/frontend/src/assets/css/tailwind.css
Due: prettier --write

feat: add coder template for multi-user development environment
  .coder/DEPLOYMENT.md
  .coder/MIGRATION_GUIDE.md
  .coder/QUICKSTART.md
  .coder/README.md
  .coder/TRAEFIK_INTEGRATION.md
  .coder/build.yaml
  .coder/deploy.sh
  .coder/template.tf
Due: prettier --write

chore: remove devpod and migrate fully to coder
  .coder/SERVER_CLEANUP.md
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  README.md
  docs/DEVPOD_SETUP.md
  scripts/admin-add-user.sh
  scripts/devpod-setup.sh
  scripts/user-quick-setup.sh
Due: prettier --write

feat: add quick devpod cleanup script for dev-server
  .coder/cleanup-devpod-now.sh
Due: none

fix: correct coder cli syntax in deploy script
  .coder/deploy.sh
Due: none

fix: remove hardcoded api tokens from documentation and scripts
  .coder/DEPLOYMENT.md
  .coder/QUICKSTART.md
  .coder/deploy.sh
Due: prettier --write

feat: migrate from devpod to coder for cloud development environments
  .coder/DEPLOYMENT.md
  .coder/MIGRATION_GUIDE.md
  .coder/QUICKSTART.md
  .coder/README.md
  .coder/SERVER_CLEANUP.md
  .coder/TRAEFIK_INTEGRATION.md
  .coder/build.yaml
  .coder/cleanup-devpod-now.sh
  .coder/deploy.sh
  .coder/template.tf
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  README.md
  docs/DEVPOD_SETUP.md
  scripts/admin-add-user.sh
  scripts/devpod-setup.sh
  scripts/user-quick-setup.sh
Due: prettier --write

chore: remove devpod-specific references from devcontainer config
  .devcontainer/README.md
  .devcontainer/docker-compose.override.yml.local-example
  .devcontainer/docker-compose.yml
  .devcontainer/proxy/README.md
  .devcontainer/proxy/docker-compose.proxy.yml
  .devcontainer/proxy/idle-shutdown.sh
  .devcontainer/proxy/install-traefik-service.sh
  .devcontainer/proxy/traefik.service
  .devcontainer/proxy/uninstall-traefik-service.sh
Due: prettier --write

feat: implement security improvements and vulnerability scanning
  .coder/SECURITY.md
  .coder/template.tf
  .devcontainer/.env.example
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/security-scan.yml
Due: prettier --write

chore: update postgresql to version 18
  .coder/template.tf
  .devcontainer/docker-compose.yml
Due: prettier --write

feat: add database initialization script to coder workspaces
  .coder/template.tf
Due: none

fix: correct cpus parameter type in coder template
  .coder/template.tf
  template_files.json
Due: prettier --write

feat: add ci/cd workflow for automatic coder template deployment
  .coder/CI-CD-SETUP.md
  .github/workflows/coder-template-push.yml
  .gitignore
Due: prettier --write

fix: increase trivy timeout to 15m for maven resolution
  .github/workflows/security-scan.yml
Due: prettier --write

fix(ci): resolve sonarqube ssl timeout and disk space issues
  .github/workflows/security-scan.yml
  .github/workflows/sonarqube.yml
Due: prettier --write

fix: make docker scan and sonarqube checks non-blocking
  .github/workflows/security-scan.yml
  .github/workflows/sonarqube.yml
Due: prettier --write

fix: make sonarqube analysis step non-blocking
  .github/workflows/sonarqube.yml
Due: prettier --write

feat: migrate from DevPod to Coder for cloud development environments (#406)
  .coder/CI-CD-SETUP.md
  .coder/DEPLOYMENT.md
  .coder/MIGRATION_GUIDE.md
  .coder/QUICKSTART.md
  .coder/README.md
  .coder/SECURITY.md
  .coder/SERVER_CLEANUP.md
  .coder/TRAEFIK_INTEGRATION.md
  .coder/build.yaml
  .coder/cleanup-devpod-now.sh
  .coder/deploy.sh
  .coder/template.tf
  .devcontainer/.env.example
  .devcontainer/NEW-USER-ONBOARDING.md
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.override.yml.local-example
  .devcontainer/docker-compose.yml
  .devcontainer/proxy/README.md
  .devcontainer/proxy/docker-compose.proxy.yml
  .devcontainer/proxy/idle-shutdown.sh
  .devcontainer/proxy/install-traefik-service.sh
  .devcontainer/proxy/traefik.service
  .devcontainer/proxy/uninstall-traefik-service.sh
  .github/workflows/coder-template-push.yml
  .github/workflows/security-scan.yml
  .github/workflows/sonarqube.yml
  .gitignore
  README.md
  docs/DEVPOD_SETUP.md
  scripts/admin-add-user.sh
  scripts/devpod-setup.sh
  scripts/user-quick-setup.sh
  template_files.json
Due: prettier --write

fix: remove unnecessary coder binary move step in deployment workflow
  .github/workflows/coder-template-push.yml
Due: prettier --write

fix: remove unnecessary coder binary move step in deployment workflow (#407)
  .github/workflows/coder-template-push.yml
Due: prettier --write

fix: add terraform installation step to coder deployment workflow
  .github/workflows/coder-template-push.yml
Due: prettier --write

fix: update sonarqube url to new datainn domain
  .github/workflows/sonarqube.yml
Due: prettier --write

fix: update sonarqube configuration to new datainn domain
  .coder/.terraform.lock.hcl
  apps/backend/pom.xml
  sonar-project.properties
Due: none

fix: add terraform installation step to coder deployment workflow (#408)
  .coder/.terraform.lock.hcl
  .github/workflows/coder-template-push.yml
  .github/workflows/sonarqube.yml
  apps/backend/pom.xml
  sonar-project.properties
Due: prettier --write

fix: add --directory flag to coder templates push command
  .github/workflows/coder-template-push.yml
Due: prettier --write

fix: add --directory flag to coder templates push command (#409)
  .github/workflows/coder-template-push.yml
Due: prettier --write

fix: change cpus parameter from string to number in coder template
  .coder/template.tf
Due: none

fix: resolve coder template deployment issues (#410)
  .coder/template.tf
Due: none

fix: disable cpus resource limit to prevent provider panic
  .coder/template.tf
Due: none

fix: disable cpus resource limit to prevent provider panic (#411)
  .coder/template.tf
Due: none

fix: resolve coder template deployment issues
  .coder/template.tf
Due: none

fix: resolve coder template deployment issues (#412)
  .coder/template.tf
Due: none

fix: correct coder agent architecture to arm64
  .coder/template.tf
Due: none
