Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/frontend/**/*.{css,scss}": ["prettier --write"],
  "apps/backend/**/*.java": ["./scripts/run-java-formatter.sh"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat(ui): Migrate from neumorphic to minimal corporate theme (#464)
  .coder/template.tf
  .devcontainer/Dockerfile
  CLAUDE.md
  DESIGN-GUIDE.md
  MIGRATION-TO-CORPORATE.md
  apps/frontend/src/__tests__/layouts/sidebar.test.jsx
  apps/frontend/src/index.css
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/layouts/components/header.jsx
  apps/frontend/src/layouts/components/sidebar.jsx
  apps/frontend/src/screens/dashboard/screen.js
  apps/frontend/src/screens/dashboard/style.scss
  apps/frontend/tailwind.config.js
Due: eslint --fix, prettier --write

fix(coder): upgrade coder provider to v2.13.1 for code-server compatibility
  .coder/.terraform.lock.hcl
  .coder/template.tf
Due: none

fix(coder): upgrade coder provider to v2.13.1 for code-server compatibility (#465)
  .coder/.terraform.lock.hcl
  .coder/template.tf
Due: none

feat(coder): add app shortcuts for frontend, backend, and swagger ui
  .coder/template.tf
Due: none

fix(coder): use existing endpoint for backend healthcheck and preserve neu utilities
  .coder/template.tf
  apps/frontend/tailwind.config.js
Due: eslint --fix, prettier --write

feat(coder): add app shortcuts for frontend, backend, and swagger ui (#466)
  .coder/template.tf
  apps/frontend/tailwind.config.js
Due: eslint --fix, prettier --write

docs(coder): add server deployment guide with docker configuration
  .coder/DEPLOYMENT.md
Due: prettier --write

feat(devcontainer): auto-start frontend and backend on workspace startup
  .devcontainer/post-start.sh
Due: none

feat(coder): make workspace apps optional to avoid confusion
  .coder/template.tf
Due: none

docs(coder): add server deployment guide (#467)
  .coder/DEPLOYMENT.md
  .coder/template.tf
  .devcontainer/post-start.sh
Due: prettier --write

test(e2e): add login/register screen accessibility test
  apps/frontend/e2e/test-login-register-screen.spec.ts
Due: eslint --fix, prettier --write

feat(coder): add workspace apps and devcontainer improvements (#468)
  apps/frontend/e2e/test-login-register-screen.spec.ts
Due: eslint --fix, prettier --write

feat(ui): migrate auth and profile pages to corporate theme
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/screens/profile/screen.jsx
  apps/frontend/src/screens/profile/style.scss
  apps/frontend/src/screens/register/screen.js
  apps/frontend/src/screens/register/style.scss
  apps/frontend/src/screens/reset_password/screen.js
  apps/frontend/src/screens/reset_password/sections/reset_new_password.js
Due: eslint --fix, prettier --write

fix: update login screen styling and fix datepicker bundling
  apps/frontend/Dockerfile
  apps/frontend/src/components/ui/social-login-buttons.jsx
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

fix(contact): migrate to react router v6 and improve hooks usage
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
  apps/frontend/src/screens/contact/sections/addressComponent.jsx
  apps/frontend/src/screens/contact/sections/index.js
Due: eslint --fix, prettier --write

fix: restore migration neu components
  apps/frontend/src/components/migration/NeuAlert.jsx
  apps/frontend/src/components/migration/NeuBadge.jsx
  apps/frontend/src/components/migration/NeuButton.jsx
  apps/frontend/src/components/migration/NeuButtonGroup.jsx
  apps/frontend/src/components/migration/NeuCard.jsx
  apps/frontend/src/components/migration/NeuDropdown.jsx
  apps/frontend/src/components/migration/NeuForm.jsx
  apps/frontend/src/components/migration/NeuInput.jsx
  apps/frontend/src/components/migration/NeuLayout.jsx
  apps/frontend/src/components/migration/NeuModal.jsx
  apps/frontend/src/components/migration/NeuNav.jsx
  apps/frontend/src/components/migration/NeuTable.jsx
  apps/frontend/src/components/migration/NeuTooltip.jsx
  apps/frontend/src/components/migration/index.js
Due: eslint --fix, prettier --write

Complete corporate theme migration (#469)
  apps/frontend/src/assets/css/tailwind.css
  apps/frontend/src/assets/scss/_mixins.scss
  apps/frontend/src/assets/scss/_neumorphic-components.scss
  apps/frontend/src/assets/scss/_variables.scss
  apps/frontend/src/assets/scss/style.scss
  apps/frontend/src/components/header/style.scss
  apps/frontend/src/components/ui/dropdown-menu.jsx
  apps/frontend/src/components/ui/neumorphic-pagination.jsx
  apps/frontend/src/components/ui/social-login-buttons.jsx
  apps/frontend/src/components/ui/step-wizard.jsx
  apps/frontend/src/layouts/admin/style.scss
  apps/frontend/src/screens/chart_account/screen.jsx
  apps/frontend/src/screens/chart_account/style.scss
  apps/frontend/src/screens/contact/screen.jsx
  apps/frontend/src/screens/contact/screens/create/screen.jsx
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
  apps/frontend/src/screens/contact/sections/addressComponent.jsx
  apps/frontend/src/screens/contact/style.scss
  apps/frontend/src/screens/currency/screen.jsx
  apps/frontend/src/screens/currency/style.scss
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/dashboard/sections/bank_account/style.scss
  apps/frontend/src/screens/dashboard/sections/cash_flow/index.js
  apps/frontend/src/screens/dashboard/sections/cash_flow/style.scss
  apps/frontend/src/screens/employee/screen.jsx
  apps/frontend/src/screens/employee/style.scss
  apps/frontend/src/screens/product/screen.jsx
  apps/frontend/src/screens/product/style.scss
  apps/frontend/src/screens/product_category/screen.jsx
  apps/frontend/src/screens/product_category/style.scss
  apps/frontend/src/screens/theme_reference/index.jsx
Due: eslint --fix, prettier --write

fix(test): use react router v6 navigate mock in detail contact test
  apps/frontend/e2e/contact-workflow.spec.ts
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

feat(ui): add dual theme support (light/dark mode)
  CLAUDE.md
  apps/frontend/README.md
  apps/frontend/e2e/screenshot-register.spec.ts
  apps/frontend/src/assets/css/global.scss
  apps/frontend/src/assets/css/tailwind.css
  apps/frontend/src/assets/scss/_neumorphic-components.scss
  apps/frontend/src/assets/scss/_variables.scss
  apps/frontend/src/components/ui/theme-toggle.jsx
  apps/frontend/src/index.js
  apps/frontend/src/screens/contact/screen.jsx
  apps/frontend/src/screens/currency/screen.jsx
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/employee/screen.jsx
  apps/frontend/src/screens/product/screen.jsx
  apps/frontend/src/screens/product_category/screen.jsx
  apps/frontend/src/screens/profile/screen.jsx
  apps/frontend/src/screens/register/screen.js
  apps/frontend/src/screens/theme_reference/index.jsx
  apps/frontend/src/utils/index.js
  docs/README.md
  docs/THEME-GUIDELINES.md
Due: eslint --fix, prettier --write

feat(ui): unify sidebar menu styling with global css classes
  apps/frontend/src/index.css
  apps/frontend/src/layouts/components/sidebar.jsx
Due: eslint --fix, prettier --write

Create Contact and update contact screens issues( Not Loading) (#470)
  apps/frontend/e2e/contact-workflow.spec.ts
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
  apps/frontend/src/screens/contact/sections/addressComponent.jsx
  apps/frontend/src/screens/contact/sections/index.js
Due: eslint --fix, prettier --write

test(ui): update sidebar test to match new css class structure
  apps/frontend/src/__tests__/layouts/sidebar.test.jsx
Due: eslint --fix, prettier --write

chore: add visual regression snapshots and update package-lock
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/balance-sheet-report-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/dashboard-chromium-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/dashboard-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/dashboard-dark-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/dashboard-mobile-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-create-form-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-form-dark-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-list-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-list-tablet-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-print-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/login-page-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/profit-loss-report-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/report-print-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/vat-report-chromium-darwin.png
  package-lock.json
Due: prettier --write

fix(ui): remove unused variables from theme toggle components
  apps/frontend/src/components/ui/theme-toggle.jsx
Due: eslint --fix, prettier --write

fix(ui): standardize sidebar menu styling with global CSS classes (#471)
  CLAUDE.md
  apps/frontend/README.md
  apps/frontend/e2e/screenshot-register.spec.ts
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/balance-sheet-report-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/dashboard-chromium-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/dashboard-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/dashboard-dark-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/dashboard-mobile-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-create-form-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-form-dark-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-list-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-list-tablet-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/invoice-print-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/login-page-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/profit-loss-report-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/report-print-chromium-darwin.png
  apps/frontend/e2e/visual-regression.spec.ts-snapshots/vat-report-chromium-darwin.png
  apps/frontend/src/__tests__/layouts/sidebar.test.jsx
  apps/frontend/src/assets/css/global.scss
  apps/frontend/src/components/ui/theme-toggle.jsx
  apps/frontend/src/index.css
  apps/frontend/src/index.js
  apps/frontend/src/layouts/components/sidebar.jsx
  apps/frontend/src/screens/contact/screen.jsx
  apps/frontend/src/screens/employee/screen.jsx
  apps/frontend/src/screens/product/screen.jsx
  apps/frontend/src/screens/product_category/screen.jsx
  apps/frontend/src/screens/profile/screen.jsx
  apps/frontend/src/screens/register/screen.js
  apps/frontend/src/screens/theme_reference/index.jsx
  apps/frontend/src/utils/index.js
  docs/README.md
  docs/THEME-GUIDELINES.md
  package-lock.json
Due: eslint --fix, prettier --write

feat(devcontainer): add vnc server for browser testing and ui preview
  .coder/template.tf
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/start-vnc.sh
Due: prettier --write

docs: add vnc browser documentation
  .coder/README.md
  .devcontainer/README.md
Due: prettier --write

docs: add vnc browser documentation (#472)
  .coder/README.md
  .devcontainer/README.md
Due: prettier --write

feat(devcontainer): add vnc server auto-start on workspace start
  .devcontainer/post-start.sh
Due: none

feat(devcontainer): add vnc server auto-start on workspace start (#473)
  .devcontainer/post-start.sh
Due: none

fix: resolve eslint errors and devcontainer permissions
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  apps/frontend/eslint.config.mjs
  apps/frontend/src/screens/goods_received_note/sections/supplier_modal.jsx
  apps/frontend/src/screens/quotation/sections/supplier_modal.jsx
  apps/frontend/src/screens/reports_filing/screen.jsx
  apps/frontend/src/screens/request_for_quotation/sections/supplier_modal.jsx
  apps/frontend/src/screens/tax_report/screen.jsx
  apps/frontend/src/screens/transactions_report/sections/customer_report/index.jsx
  apps/frontend/src/screens/transactions_report/sections/expense_report/index.jsx
Due: eslint --fix, prettier --write

fix: add explicit git safe.directory configuration
  .devcontainer/post-create.sh
Due: none

fix: create code-server directories in dockerfile and entrypoint
  .devcontainer/Dockerfile
  .devcontainer/entrypoint.sh
Due: none

fix: switch to local docker build to apply permission fixes
  .devcontainer/docker-compose.yml
Due: prettier --write

fix: dockerfile permission error when creating .local directory
  .devcontainer/Dockerfile
Due: none

fix: simplify dockerfile by moving directory creation to entrypoint
  .devcontainer/Dockerfile
Due: none

chore: switch back to pre-built devcontainer image
  .devcontainer/docker-compose.yml
Due: prettier --write

fix(devcontainer): fix entrypoint permission handling order
  .devcontainer/docker-compose.yml
  .devcontainer/entrypoint.sh
Due: prettier --write

chore(devcontainer): switch back to pre-built image
  .devcontainer/docker-compose.yml
Due: prettier --write
