Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/frontend/**/*.{css,scss}": ["prettier --write"],
  "apps/backend/**/*.java": ["./scripts/run-java-formatter.sh"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(frontend): remove install warnings
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/screens/creditNotes/sections/email_template.jsx
  apps/frontend/src/screens/customer_invoice/sections/email_template.jsx
  apps/frontend/src/screens/debitNotes/sections/email_template.jsx
Due: eslint --fix, prettier --write

fix(devcontainer): ensure ai cli tools in path
  .devcontainer/Dockerfile
  .devcontainer/cursor-cli.sh
  .devcontainer/install-cli-tools.sh
  .devcontainer/post-start.sh
Due: none

fix(frontend): remove install warnings (#344)
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/screens/creditNotes/sections/email_template.jsx
  apps/frontend/src/screens/customer_invoice/sections/email_template.jsx
  apps/frontend/src/screens/debitNotes/sections/email_template.jsx
Due: eslint --fix, prettier --write

fix(devcontainer): ensure ai cli tools in path (#345)
  .devcontainer/Dockerfile
  .devcontainer/cursor-cli.sh
  .devcontainer/install-cli-tools.sh
  .devcontainer/post-start.sh
Due: none

fix(devcontainer): auto-detect cursor ipc socket
  .devcontainer/cursor-cli.sh
Due: none

fix(devcontainer): auto-detect cursor ipc socket (#346)
  .devcontainer/cursor-cli.sh
Due: none

fix(devcontainer): add symlinks for ai cli tools in path
  .devcontainer/Dockerfile
  .devcontainer/install-cli-tools.sh
Due: none

fix(devcontainer): add symlinks for ai cli tools in path (#347)
  .devcontainer/Dockerfile
  .devcontainer/install-cli-tools.sh
Due: none

feat(devcontainer): add docker-compose override for server secrets
  .devcontainer/docker-compose.override.example.yml
  .gitignore
Due: prettier --write

chore: remove gemini mcp server configuration
  .mcp.json
Due: prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

feat(devcontainer): add override file support and claude config volume
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier --write

refactor(devcontainer): switch from docker-compose override to .env file
  .devcontainer/.env.example
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.override.example.yml
  .devcontainer/docker-compose.yml
  .gitignore
Due: prettier --write

feat(devcontainer): add persistent volumes for gemini and codex configs
  .devcontainer/docker-compose.yml
Due: prettier --write

feat(devcontainer): add persistent volume for github cli config
  .devcontainer/docker-compose.yml
Due: prettier --write

feat(devcontainer): add persistent volumes for dev tools and credentials
  .devcontainer/docker-compose.yml
Due: prettier --write

refactor(devcontainer): improve secrets management with .env file (#348)
  .devcontainer/.env.example
  .devcontainer/docker-compose.yml
  .gitignore
  .mcp.json
  package-lock.json
Due: prettier --write

style: fix prettier formatting in contact actions test
  apps/frontend/src/screens/contact/__tests__/actions.test.js
Due: eslint --fix, prettier --write

fix: resolve CodeQL code quality issues
  apps/backend/src/main/java/com/simpleaccounts/rest/contactcontroller/ContactHelper.java
  apps/backend/src/main/resources/emailtemplate/forget-password.html
  apps/backend/src/main/resources/emailtemplate/new-user-created-template.html
  apps/backend/src/main/resources/emailtemplate/setup-confirmation.html
  apps/frontend/e2e/create-minimal-contact.spec.ts
  apps/frontend/e2e/test-complete-flow.spec.ts
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: remove unused imports from detail screen (Checkbox, Tooltip, cn, CardBody)
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
Due: eslint --fix, prettier --write

fix: resolve test failures
  apps/backend/src/main/java/com/simpleaccounts/rest/PaginationResponseModel.java
  apps/backend/src/test/java/com/simpleaccounts/rest/contactcontroller/ContactControllerTest.java
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/create/screen.jsx
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: remove useless null checks in ContactHelper catch block
  apps/backend/src/main/java/com/simpleaccounts/rest/contactcontroller/ContactHelper.java
Due: ./scripts/run-java-formatter.sh

fix: add useFormContext to react-hook-form mocks in tests
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: move component imports after mocks in test files
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
Due: eslint --fix, prettier --write

fix: move DetailContact import after mocks in test file
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: add DetailContact import after reactstrap mock
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

style: fix prettier formatting in contact test files
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: add reactstrap mock and CreateContact import
  apps/frontend/src/__mocks__/reactstrap.js
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
Due: eslint --fix, prettier --write

fix: add reactstrap alias to vitest config for test resolution
  apps/frontend/vitest.config.js
Due: eslint --fix, prettier --write

fix: add reactstrap alias to vite config for test environment
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

fix: properly merge vite config aliases in vitest config
  apps/frontend/vitest.config.js
Due: eslint --fix, prettier --write

style: fix prettier formatting in reactstrap mock and other files
  apps/frontend/src/__mocks__/reactstrap.js
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

fix: update test mocks for CreateContact and DetailContact
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: add optional chaining to error handling in DetailContact
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
Due: eslint --fix, prettier --write

fix: add tostifyAlert mock to commonActions in DetailContact test
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: add optional chaining to fieldState.error and fix react-router-dom mock
  apps/frontend/src/screens/contact/screens/create/screen.jsx
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: improve Controller mock to provide complete fieldState object
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write
