Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix(utils): fix ESLint no-undef errors for getMetaEnv
  apps/frontend/src/utils/env.js
Due: eslint --fix, prettier --write

fix(utils): fix ESLint no-undef errors for globalThis
  apps/frontend/src/utils/env.js
Due: eslint --fix, prettier --write

docs: add combined Phase 2 & 3 migration summary
  docs/VITE_MIGRATION_PHASE2_AND_3_SUMMARY.md
Due: prettier --write

docs: add note about Formik/Yup validation error in PR description
  GITHUB_ISSUE_FORMIK_YUP_ERROR.md
  PR_DESCRIPTION_PHASE2_AND_3.md
Due: prettier --write

feat(frontend): Vite migration Phase 4 - Build optimization & CI/CD updates
  .github/workflows/build.yml
  .github/workflows/matrix-tests.yml
  .github/workflows/nightly.yml
  apps/frontend/Dockerfile
  docs/VITE_MIGRATION_PHASE4_SUMMARY.md
  package.json
  sonar-project.properties
Due: prettier --write

feat(frontend): Vite migration Phase 5 - Make Vite the default
  AGENTS.md
  PR_DESCRIPTION_PHASE4.md
  TESTING_PHASE4.md
  apps/frontend/README.md
  apps/frontend/package.json
  docs/VITE_MIGRATION_PHASE5_SUMMARY.md
  package.json
  test-phase4.sh
Due: prettier --write

fix(frontend): update Dockerfile and CI to use npm run build instead of build:vite
  .github/workflows/build.yml
  apps/frontend/Dockerfile
Due: prettier --write

fix(test): update test scripts to use npm run build instead of build:vite
  TESTING_PHASE4.md
  test-phase4.sh
Due: prettier --write

docs: add Vite migration completion summary
  docs/VITE_MIGRATION_COMPLETE.md
Due: prettier --write

fix(backend): resolve remaining Java 21 / Spring Boot 3.4 migration issues
  apps/backend/pom.xml
  apps/backend/src/main/java/com/simpleaccounts/entity/Company.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Employee.java
  apps/backend/src/main/java/com/simpleaccounts/entity/User.java
  apps/backend/src/main/java/com/simpleaccounts/parserengine/ExcelParser.java
  apps/backend/src/main/java/com/simpleaccounts/rest/InvoiceScannerContoller/InvoiceScannerService.java
  apps/backend/src/main/java/com/simpleaccounts/rest/employeecontroller/EmployeeController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/PayrollController.java
  apps/backend/src/main/java/com/simpleaccounts/utils/EmailSender.java
  apps/backend/src/main/java/com/simpleaccounts/utils/ExcelUtil.java
  apps/backend/src/main/java/com/simpleaccounts/utils/PageableBuilderUtil.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/TransactionExpensesPayrollDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/ExcelParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/PdfGenerationTest.java
Due: ./scripts/run-java-formatter.sh

fix(backend): migrate EnvironmentPostProcessor registration to imports file for Spring Boot 3 compatibility and track fallback config
  apps/backend/Dockerfile
  apps/backend/pom.xml
  apps/backend/run.sh
  apps/backend/src/main/java/com/simpleaccounts/config/InMemoryDatabaseFallbackEnvironmentPostProcessor.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Currency.java
  apps/backend/src/main/java/com/simpleaccounts/entity/CurrencyConversion.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Invoice.java
  apps/backend/src/main/java/com/simpleaccounts/entity/TransactionParsingSetting.java
  apps/backend/src/main/java/com/simpleaccounts/entity/bankaccount/TransactionCategory.java
  apps/backend/src/main/java/com/simpleaccounts/security/JwtTokenUtil.java
  apps/backend/src/main/resources/META-INF/spring/org.springframework.boot.env.EnvironmentPostProcessor.imports
  apps/backend/src/main/resources/application.properties
  apps/backend/src/test/java/com/simpleaccounts/repository/ExpenseRepositoryTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/InvoiceRepositoryTest.java
  deploy/docker/docker-compose.yml
  package-lock.json
  package.json
Due: prettier --write, ./scripts/run-java-formatter.sh

fix: resolve java 21 migration ci failures
  .github/workflows/build.yml
  .github/workflows/matrix-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/security.yml
  .github/workflows/sonarqube.yml
  apps/backend/src/main/java/com/simpleaccounts/fileuploadconfig/StaticResourceConfiguration.java
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/validationcontroller/ValidationController.java
  apps/backend/src/test/java/com/simpleaccounts/repository/ExpenseRepositoryTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/InvoiceRepositoryTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/payroll/PayrollJpaTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/PdfGenerationTest.java
Due: prettier --write, ./scripts/run-java-formatter.sh

fix(security): address codeql and dependency review
  apps/backend/pom.xml
  apps/backend/src/main/java/com/simpleaccounts/security/WebSecurityConfig.java
Due: ./scripts/run-java-formatter.sh

fix(ci): retry gitleaks download
  .github/workflows/gitleaks.yml
Due: prettier --write

fix(ci): skip sonar when token missing
  .github/workflows/sonarqube.yml
Due: prettier --write

feat(frontend): Tailwind CSS setup Phase 1
  PR_DESCRIPTION_PHASE5.md
  PR_DESCRIPTION_TAILWIND_PHASE1.md
  apps/frontend/.npmrc
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/src/assets/css/tailwind.css
  apps/frontend/src/index.js
  apps/frontend/tailwind.config.js
  docs/TAILWIND_CSS_SETUP_PHASE1_SUMMARY.md
  docs/TAILWIND_CSS_SETUP_PLAN.md
Due: eslint --fix, prettier --write

chore: update dependencies and GitHub Actions versions
  apps/frontend/package-lock.json
Due: prettier --write

feat(frontend): Tailwind CSS setup Phase 2 - Verification & Testing
  PR_DESCRIPTION_TAILWIND_PHASE1.md
  apps/frontend/src/components/TailwindTest.js
  docs/TAILWIND_CSS_SETUP_PHASE2_SUMMARY.md
Due: eslint --fix, prettier --write

docs: complete Phases 3, 4, 5 & 6 documentation
  PR_DESCRIPTION_TAILWIND_PHASE2.md
  docs/TAILWIND_CSS_SETUP_PHASES_3_4_5_6_SUMMARY.md
Due: prettier --write

fix(backend): use commons-lang3 imports
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/migrationcontroller/MigrationController.java
Due: ./scripts/run-java-formatter.sh

docs: add shadcn/ui setup action plan for issue #159
  docs/SHADCN_UI_SETUP_PLAN.md
Due: prettier --write

feat(frontend): setup shadcn/ui with Base UI primitives
  PR_DESCRIPTION_SHADCN_UI_SETUP.md
  apps/frontend/components.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/ShadcnTest.js
  apps/frontend/src/components/ui/button.jsx
  apps/frontend/src/components/ui/card.jsx
  apps/frontend/src/components/ui/dialog.jsx
  apps/frontend/src/components/ui/input.jsx
  apps/frontend/src/lib/utils.js
  docs/SHADCN_UI_SETUP_COMPLETE.md
  test-shadcn-setup.sh
Due: eslint --fix, prettier --write

docs: add Closes #159 to PR description
  PR_DESCRIPTION_SHADCN_UI_SETUP.md
Due: prettier --write

fix(frontend): align shadcn aliases with Vite module resolver
  apps/frontend/components.json
Due: prettier --write

fix(frontend): support @coreui/react v5
  .lintstagedrc.json
  apps/frontend/src/components/header/index.js
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/screens/notification/screen.js
Due: eslint --fix, prettier --write

docs: add Moment.js to Day.js migration plan for issue #160
  docs/MOMENT_TO_DAYJS_MIGRATION_PLAN.md
Due: prettier --write

feat(frontend): create Day.js utility wrapper with all required plugins
  apps/frontend/src/utils/__tests__/date.test.js
  apps/frontend/src/utils/date.js
Due: eslint --fix, prettier --write

feat(frontend): remove Moment.js from dependencies
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

docs: add migration completion summary and PR description
  PR_DESCRIPTION_MOMENT_TO_DAYJS.md
  docs/MOMENT_TO_DAYJS_MIGRATION_COMPLETE.md
Due: prettier --write

chore: add Day.js migration verification script
  verify-dayjs-migration.sh
Due: none

Potential fix for pull request finding 'Comparison between inconvertible types'
  apps/frontend/src/screens/profile/screen.js
Due: eslint --fix, prettier --write

fix(frontend): fix remaining moment.js references and linting issues
  CREATE_PR_MOMENT_TO_DAYJS.md
  apps/frontend/src/components/action_dropdown_button/index.js
  apps/frontend/src/screens/payment/screens/create/screen.js
  apps/frontend/src/screens/profile/screen.js
  apps/frontend/src/screens/receipt/screens/create/screen.js
  verify-dayjs-migration.sh
Due: eslint --fix, prettier --write

feat(frontend): migrate React Router from v5 to v6
  PR_DESCRIPTION_REACT_ROUTER_V6.md
  REACT_ROUTER_V6_MIGRATION_READY.md
  REACT_ROUTER_V6_MIGRATION_SUMMARY.md
  REACT_ROUTER_V6_PHASE9_COMPLETE.md
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app.js
  apps/frontend/src/app.test.js
  apps/frontend/src/components/react-image-upload/index.js
  apps/frontend/src/layouts/__tests__/initial.test.js
  apps/frontend/src/layouts/__tests__/private.test.js
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/layouts/initial/index.js
  apps/frontend/src/layouts/private.js
  apps/frontend/src/routes/routing.test.js
  apps/frontend/src/routes/routing.v6.test.js
  apps/frontend/src/screens/financial_report/sections/vat_return/screen.js
  apps/frontend/src/screens/profile/screen.js
  apps/frontend/src/screens/reset_password/__tests__/ResetPassword.test.js
  apps/frontend/src/setupTests.js
  apps/frontend/src/utils/__tests__/action_messages.test.js
  apps/frontend/src/utils/__tests__/filter_factory.test.js
  apps/frontend/src/utils/__tests__/lists.test.js
  apps/frontend/src/utils/__tests__/option_factory.test.js
  apps/frontend/src/utils/__tests__/withNavigation.test.js
  apps/frontend/src/utils/withNavigation.js
  docs/REACT_ROUTER_V6_COVERAGE_IMPROVEMENT.md
  docs/REACT_ROUTER_V6_COVERAGE_SUMMARY.md
  docs/REACT_ROUTER_V6_KNOWN_ISSUES.md
  docs/REACT_ROUTER_V6_MIGRATION_PLAN.md
  docs/REACT_ROUTER_V6_PHASE10_COMPLETE.md
  docs/REACT_ROUTER_V6_PHASE3_IMPLEMENTATION.md
  docs/REACT_ROUTER_V6_PHASE3_RECOMMENDATION.md
  docs/REACT_ROUTER_V6_PHASE9_TEST_REPORT.md
  docs/REACT_ROUTER_V6_PHASES_7_8_COMPLETE.md
  docs/REACT_ROUTER_V6_QUICK_REFERENCE.md
  docs/REACT_ROUTER_V6_TEST_FIXES.md
  scripts/apply-with-navigation.sh
  scripts/verify-router-migration.sh
Due: eslint --fix, prettier --write

fix(frontend): fix admin route wildcard and add withNavigation to AdminLayout
  CREATE_PR_REACT_ROUTER_V6.md
  apps/frontend/package-lock.json
  apps/frontend/src/components/ui/button.jsx
  apps/frontend/src/components/ui/card.jsx
  apps/frontend/src/components/ui/dialog.jsx
  apps/frontend/src/components/ui/input.jsx
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/routes/index.js
  apps/frontend/src/routes/main.js
  apps/frontend/src/utils/env.js
  apps/frontend/vite.config.js
  docs/REACT_ROUTER_V6_BLANK_PAGE_FIX.md
  docs/REACT_ROUTER_V6_FORWARDREF_FIX.md
  docs/REACT_ROUTER_V6_MANUAL_TESTING.md
Due: eslint --fix, prettier --write

fix(frontend): fix Jest test failure with import.meta in env.js
  apps/frontend/src/utils/env.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: apps/frontend/**/*.{js,jsx,ts,tsx}) or (any of: apps/frontend/**/*.{css,scss})) or (any of: *.{json,md,yml,yaml})
  ./scripts/run-java-formatter.sh: any of: apps/backend/**/*.java
