Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: add ResizeObserver polyfill and location prop to DetailContact test
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
  apps/frontend/src/test/vitest.setup.js
Due: eslint --fix, prettier --write

fix: improve DetailContact tests and error handling
  apps/frontend/src/screens/contact/screens/create/screen.jsx
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
  apps/frontend/src/utils/input_validation.js
Due: eslint --fix, prettier --write

fix: update cancel button test to use history.push instead of goBack
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: improve DetailContact tests and address validation
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
  apps/frontend/src/utils/input_validation.js
Due: eslint --fix, prettier --write

fix: improve form submission test to wait for form population
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: mock useLocation hook to ensure location.state.id is available
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: improve useLocation mock to be resetable in beforeEach
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: simplify test to use default location from mock
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: convert Jest mocks to Vitest for DetailContact tests
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: convert all remaining Jest mocks to Vitest
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: resolve Vitest mock hoisting issue by defining mock inline
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: remove mockLocation variable to fix Vitest hoisting
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix: use vi.hoisted to properly handle mock function creation
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

feat(backend): upgrade to Spring Boot 4.0.1 and Spring Security 7
  apps/backend/pom.xml
  apps/backend/src/main/java/com/simpleaccounts/entity/CreditNote.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Invoice.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Journal.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Product.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Purchase.java
  apps/backend/src/main/java/com/simpleaccounts/entity/TransactionExplanation.java
  apps/backend/src/main/java/com/simpleaccounts/security/CustomErrorController.java
  apps/backend/src/main/java/com/simpleaccounts/security/WebSecurityConfig.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/bankaccount/BankAccountDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/bankaccount/ReconcileStatusDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/bankaccount/TransactionDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/ExpenseRepositoryTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/InvoiceRepositoryTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/bankaccountcontroller/BankAccountControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/payroll/PayrollJpaTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/reconsilationcontroller/ReconsilationControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactioncategorycontroller/TransactionCategoryRestControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactioncontroller/TransactionRestControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactionimportcontroller/TransactionImportControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/WebSecurityConfigTest.java
  apps/backend/src/test/resources/application.properties
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write, ./scripts/run-java-formatter.sh

feat(backend): upgrade to Spring Boot 4.0.1 and Spring Security 7 (#350)
  apps/backend/pom.xml
  apps/backend/src/main/java/com/simpleaccounts/entity/CreditNote.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Invoice.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Journal.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Product.java
  apps/backend/src/main/java/com/simpleaccounts/entity/Purchase.java
  apps/backend/src/main/java/com/simpleaccounts/entity/TransactionExplanation.java
  apps/backend/src/main/java/com/simpleaccounts/security/CustomErrorController.java
  apps/backend/src/main/java/com/simpleaccounts/security/WebSecurityConfig.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/bankaccount/BankAccountDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/bankaccount/ReconcileStatusDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/bankaccount/TransactionDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/ExpenseRepositoryTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/InvoiceRepositoryTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/bankaccountcontroller/BankAccountControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/payroll/PayrollJpaTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/reconsilationcontroller/ReconsilationControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactioncategorycontroller/TransactionCategoryRestControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactioncontroller/TransactionRestControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactionimportcontroller/TransactionImportControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/WebSecurityConfigTest.java
  apps/backend/src/test/resources/application.properties
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write, ./scripts/run-java-formatter.sh

style: fix Prettier formatting issues
  apps/frontend/e2e/debug-error.spec.ts
  apps/frontend/e2e/debug-full-register.spec.ts
  apps/frontend/e2e/debug-quick.spec.ts
  apps/frontend/e2e/debug-register-submit.spec.ts
  apps/frontend/e2e/debug-register.spec.ts
  apps/frontend/e2e/debug-register2.spec.ts
  apps/frontend/e2e/debug-select-option.spec.ts
  apps/frontend/e2e/debug-step1.spec.ts
  apps/frontend/e2e/registration-complete.spec.ts
  apps/frontend/src/assets/css/tailwind.css
Due: eslint --fix, prettier --write

fix: remove unused expect imports from e2e tests
  apps/frontend/e2e/debug-full-register.spec.ts
  apps/frontend/e2e/debug-register-submit.spec.ts
  apps/frontend/e2e/debug-select-option.spec.ts
Due: eslint --fix, prettier --write

fix(backend): use spring-boot-starter-liquibase for Spring Boot 4
  apps/backend/pom.xml
Due: none

fix(liquibase): remove html comments from sql changesets
  apps/backend/src/main/resources/liquibase/databaseChangeLogs/basescript-simpleaccounts-ddl-changeset-2.sql
  apps/backend/src/main/resources/liquibase/databaseChangeLogs/basescript-simpleaccounts-dml-changeset-3.sql
  apps/backend/src/main/resources/liquibase/databaseChangeLogs/basescript-simpleaccounts-sequence-changeset-1.sql
  apps/backend/src/main/resources/liquibase/databaseChangeLogs/changescript-simpleaccounts-changeset-4.sql
  apps/backend/src/main/resources/liquibase/liquibase-changelog.xml
Due: none

perf(devcontainer): add jvm and node memory optimizations
  .devcontainer/devcontainer.json
Due: prettier --write

docs(devcontainer): add hostname fix and network architecture documentation
  .devcontainer/README.md
  .devcontainer/docker-compose.yml
Due: prettier --write

docs(devcontainer): add hostname fix and network architecture documentation (#353)
  .devcontainer/README.md
  .devcontainer/docker-compose.yml
Due: prettier --write

fix(devcontainer): persist bash history and git config across rebuilds
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier --write

fix(devcontainer): unset node_options during post-create setup
  .devcontainer/post-create.sh
Due: none

fix(devcontainer): fix volume directory permissions on startup
  .devcontainer/post-create.sh
Due: none

chore(eslint): add unused-imports plugin configuration
  eslint.config.js
  package-lock.json
Due: prettier --write

fix(tests): fix createcontact and detailcontact test failures
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

fix(hooks): fix vitest bail option in pre-push hook
  .husky/pre-push
Due: none

fix(frontend): ignore unhandled react act() warnings in vitest
  apps/frontend/vitest.config.js
Due: eslint --fix, prettier --write

fix(frontend): use migration shim for reactstrap in detail contact
  apps/frontend/src/screens/contact/screens/detail/screen.jsx
Due: eslint --fix, prettier --write

refactor(devcontainer): use bind mounts for user config persistence
  .devcontainer/docker-compose.yml
Due: prettier --write

refactor(devcontainer): use host bind mounts for user config persistence
  .devcontainer/docker-compose.yml
  .devcontainer/post-create.sh
Due: prettier --write

Path conditions:
  eslint --fix: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: apps/frontend/**/*.{js,jsx,ts,tsx}) or (any of: apps/frontend/**/*.{css,scss})) or (any of: *.{json,md,yml,yaml})
  ./scripts/run-java-formatter.sh: any of: apps/backend/**/*.java
