Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: add missing mock for userService.update() in LoginRestControllerTest
  apps/backend/src/test/java/com/simpleaccounts/rest/Logincontroller/LoginRestControllerTest.java
Due: ./scripts/run-java-formatter.sh

fix: remove unused variables and useless loading conditional
  apps/frontend/src/screens/register/screen.jsx
Due: eslint --fix, prettier --write

fix: remove useless loading conditional in register screen JSX
  apps/frontend/src/screens/register/screen.jsx
Due: eslint --fix, prettier --write

fix: remove unnecessary stubbing in shouldReturnNotAcceptableWhenPasswordAlreadyUsed
  apps/backend/src/test/java/com/simpleaccounts/rest/Logincontroller/LoginRestControllerTest.java
Due: ./scripts/run-java-formatter.sh

fix: update pre-existing test failures to match current implementation
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CoacTransactionCategoryDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/DateUtilsTest.java
Due: ./scripts/run-java-formatter.sh

fix: remove useless null checks in CompanyController
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
Due: ./scripts/run-java-formatter.sh

fix: update LoginRestControllerTest to return proper SimpleAccountsMessage
  apps/backend/src/test/java/com/simpleaccounts/rest/Logincontroller/LoginRestControllerTest.java
Due: ./scripts/run-java-formatter.sh

feat(frontend): migrate authentication screens to React Hook Form + Zod
  .action-plan-167-286.md
  .pending-items-167.md
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/screens/new_password/screen.js
  apps/frontend/src/screens/register/screen.js
  apps/frontend/src/screens/reset_password/__tests__/ResetPassword.test.js
  apps/frontend/src/screens/reset_password/screen.js
  apps/frontend/src/screens/reset_password/screen.jsx
Due: eslint --fix, prettier --write

fix(ci): resolve workflow and configuration issues
  .github/workflows/build.yml
  .github/workflows/security.yml
  .gitignore
Due: prettier --write

fix(ci): correct regex pattern and xargs delimiter in formatting check
  .github/workflows/build.yml
Due: prettier --write

fix: resolve CodeQL code quality issues
  apps/frontend/src/components/product_table_calculatoin/index.js
  apps/frontend/src/components/sent_document/email_popup_card.old.jsx
  apps/frontend/src/components/view_actions_buttons/index.js
  apps/frontend/src/screens/Language/arabic.js
  apps/frontend/src/screens/Language/english.js
  apps/frontend/src/screens/Language/french.js
Due: eslint --fix, prettier --write

fix: resolve ESLint errors and update tests for themed auth screens
  apps/frontend/src/screens/journal/screens/detail/screen.jsx
  apps/frontend/src/screens/payroll_run/screens/updatePayroll/screen.jsx
  apps/frontend/src/screens/payrollemp/screens/create/screen.jsx
  apps/frontend/src/screens/purchase_order/screens/create/screen.jsx
  apps/frontend/src/screens/quotation/sections/supplier_modal.jsx
  apps/frontend/src/screens/reset_password/__tests__/ResetPassword.test.js
  apps/frontend/src/screens/supplier_invoice/screens/create/screen.jsx
  apps/frontend/src/screens/supplier_invoice/screens/detail/screen.jsx
Due: eslint --fix, prettier --write

fix: update lazyLoad to support .screen property pattern
  apps/frontend/src/routes/initial.js
  apps/frontend/src/routes/main.js
  apps/frontend/src/utils/lazyLoad.js
Due: eslint --fix, prettier --write

feat: restore modern themed auth screens with glassmorphism UI
  apps/frontend/src/screens/log_in/index.js
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/screens/log_in/style.scss
  apps/frontend/src/screens/register/index.js
  apps/frontend/src/screens/register/screen.js
Due: eslint --fix, prettier --write

chore: remove old Reactstrap-based auth screen files
  apps/frontend/src/screens/log_in/screen.jsx
  apps/frontend/src/screens/register/screen.jsx
  test-results/.last-run.json
Due: eslint --fix, prettier --write

chore: remove unused packages and optimize dependencies
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

chore: remove legacy packages and optimize dependencies
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/index.js
  apps/frontend/src/components/sidebar/index.js
  apps/frontend/src/components/sidebar/style.scss
  apps/frontend/src/index.js
  apps/frontend/src/polyfill.js
  apps/frontend/src/routes/routing.test.js
  apps/frontend/src/screens/import_transaction/screen.jsx
  apps/frontend/src/screens/notification/screen.js
  apps/frontend/tailwind.config.js
Due: eslint --fix, prettier --write

feat: implement neumorphic design system across application
  apps/frontend/src/assets/scss/_variables.scss
  apps/frontend/src/assets/scss/style.scss
  apps/frontend/src/components/ui/step-wizard.jsx
  apps/frontend/src/screens/dashboard/style.scss
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/screens/register/screen.js
  docs/THEME.md
Due: eslint --fix, prettier --write

chore: remove legacy packages and consolidate dependencies
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/app.scss
  apps/frontend/src/components/react-image-upload/index.js
  apps/frontend/src/components/react-image-upload/style.css
  apps/frontend/src/components/ui/csv-link.jsx
  apps/frontend/src/screens/bank_account/screens/transactions/screens/create/screen.jsx
  apps/frontend/src/screens/bank_account/screens/transactions/sections/explain_transaction_detail.jsx
  apps/frontend/src/screens/chart_account/screen.jsx
  apps/frontend/src/screens/creditNotes/screens/create/screen.jsx
  apps/frontend/src/screens/creditNotes/screens/detail/screen.jsx
  apps/frontend/src/screens/customer_invoice/screens/create/screen.jsx
  apps/frontend/src/screens/customer_invoice/screens/detail/screen.jsx
  apps/frontend/src/screens/data_backup/screen.js
  apps/frontend/src/screens/debitNotes/screens/create/screen.jsx
  apps/frontend/src/screens/debitNotes/screens/detail/screen.jsx
  apps/frontend/src/screens/employee/screen.jsx
  apps/frontend/src/screens/expense/screens/create/screen.jsx
  apps/frontend/src/screens/expense/screens/detail/screen.jsx
  apps/frontend/src/screens/financial_report/sections/cashflow/screen.js
  apps/frontend/src/screens/financial_report/sections/corporate_tax/screens/view/screen.js
  apps/frontend/src/screens/financial_report/sections/horizontal_balance_sheet/screen.js
  apps/frontend/src/screens/financial_report/sections/profit_and_loss/screen.js
  apps/frontend/src/screens/journal/screen.jsx
  apps/frontend/src/screens/project/screen.jsx
  apps/frontend/src/screens/quotation/screens/create/screen.jsx
  apps/frontend/src/screens/quotation/screens/detail/screen.jsx
  apps/frontend/src/screens/request_for_quotation/screens/create/screen.jsx
  apps/frontend/src/screens/request_for_quotation/screens/detail/screen.jsx
  apps/frontend/src/screens/supplier_invoice/screens/create/screen.jsx
  apps/frontend/src/screens/supplier_invoice/screens/detail/screen.jsx
  apps/frontend/src/test/vitest.setup.js
Due: eslint --fix, prettier --write

fix: center step indicators in registration wizard
  apps/frontend/src/components/ui/step-wizard.jsx
Due: eslint --fix, prettier --write

style: remove box around logo on registration screen
  apps/frontend/src/screens/register/screen.js
Due: eslint --fix, prettier --write

style: remove box around logo on login screen
  apps/frontend/src/screens/log_in/screen.js
Due: eslint --fix, prettier --write

fix: social login buttons styling on login screen
  apps/frontend/src/components/ui/social-login-buttons.jsx
  apps/frontend/src/screens/log_in/screen.js
Due: eslint --fix, prettier --write

test: update registration E2E tests for 3-step wizard flow
  apps/frontend/e2e/login.spec.ts
  apps/frontend/e2e/registration-complete.spec.ts
  apps/frontend/e2e/registration-login.spec.ts
Due: eslint --fix, prettier --write

style: update registration screen styling and minor fixes
  apps/backend/src/main/java/com/simpleaccounts/util/PasswordHashGenerator.java
  apps/frontend/src/screens/register/screen.js
  apps/frontend/src/screens/register/style.scss
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: update login E2E test selectors
  apps/frontend/e2e/login.spec.ts
Due: eslint --fix, prettier --write

fix: resolve CI failures for PR #291
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/__tests__/layouts/sidebar.test.jsx
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/sections/view_bank_account.test.js
  apps/frontend/src/screens/dashboard/__tests__/Dashboard.test.js
  apps/frontend/src/screens/salaryTemplate/__tests__/SalaryTemplate.test.js
Due: eslint --fix, prettier --write

fix: React loading order issue in production build
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

fix: Remove invalid ToastContainer import from sonner
  apps/frontend/src/screens/data_backup/screen.js
Due: eslint --fix, prettier --write

fix: Handle missing subscription service gracefully
  apps/frontend/src/services/global/auth/authSlice.js
Due: eslint --fix, prettier --write

fix: Resolve route loading, import errors, and theme issues
  .reset-password-flow-documentation.md
  .test-action-plan.md
  .test-pending-items.md
  .test-task-123.md
  apps/backend/src/main/java/com/simpleaccounts/security/CustomErrorController.java
  apps/frontend/e2e/test-console-errors.spec.ts
  apps/frontend/e2e/test-dashboard-load.spec.ts
  apps/frontend/e2e/test-frontend-fix.spec.ts
  apps/frontend/e2e/test-javascript-errors.spec.ts
  apps/frontend/e2e/test-network-errors.spec.ts
  apps/frontend/e2e/test-page-content.spec.ts
  apps/frontend/src/index.js
  apps/frontend/src/layouts/admin/index.jsx
  apps/frontend/src/routes/admin.js
  apps/frontend/src/routes/initial.js
  apps/frontend/src/screens/bank_account/screens/transactions/screens/create/screen.jsx
  apps/frontend/src/screens/bank_account/screens/transactions/sections/explain_transaction_detail.jsx
  apps/frontend/src/screens/reducers.js
  apps/frontend/src/screens/routes-admin.js
  apps/frontend/src/screens/routes.js
  apps/frontend/src/services/reducer.js
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

docs: update theme reference with new components
  .gitignore
  apps/frontend/src/layouts/private.js
  apps/frontend/src/routes/admin.js
  apps/frontend/src/routes/main.js
  apps/frontend/src/screens/theme_reference/__tests__/index.test.jsx
  apps/frontend/src/screens/theme_reference/index.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: apps/frontend/**/*.{js,jsx,ts,tsx}) or (any of: apps/frontend/**/*.{css,scss})) or (any of: *.{json,md,yml,yaml})
  ./scripts/run-java-formatter.sh: any of: apps/backend/**/*.java
