Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/frontend/**/*.{css,scss}": ["prettier --write"],
  "apps/backend/**/*.java": ["./scripts/run-java-formatter.sh"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(frontend): lower coverage threshold to 10% for migration
  apps/frontend/package.json
Due: prettier --write

fix(frontend): restore package-lock.json for CI
  apps/frontend/package-lock.json
Due: prettier --write

chore(frontend): remove unused imports and variables
  apps/frontend/src/screens/payrollemp/screens/view/sections/viewPayslip.js
Due: eslint --fix, prettier --write

fix(backend): update tests to match new error handling behavior
  apps/backend/src/test/java/com/simpleaccounts/rest/companycontroller/CompanyControllerTest.java
Due: ./scripts/run-java-formatter.sh

fix(frontend): move getCompanyCountThunk declaration before createSlice
  apps/frontend/src/services/global/auth/authSlice.js
Due: eslint --fix, prettier --write

fix(frontend): declare getCompanyCountThunk before createSlice
  apps/frontend/src/services/global/auth/authSlice.js
Due: eslint --fix, prettier --write

feat(frontend): setup React Hook Form with Zod validation (task #163)
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/examples/ExampleForm.jsx
  apps/frontend/src/components/ui/form.jsx
  apps/frontend/src/lib/validations/common.js
  apps/frontend/src/lib/validations/schemas.js
  apps/frontend/src/lib/validations/utils.js
  docs/REACT_HOOK_FORM_ZOD_SETUP_BATTLE_PLAN.md
  docs/REACT_HOOK_FORM_ZOD_SETUP_COMPLETE.md
  verify-react-hook-form-setup.sh
Due: eslint --fix, prettier --write

docs: add React Hook Form setup summary and branch cleanup script
  REACT_HOOK_FORM_SETUP_SUMMARY.md
  scripts/cleanup-branches.sh
Due: prettier --write

feat(frontend): complete Phase 5 documentation and testing for React Hook Form setup
  apps/backend/DATABASE_SETUP_COMPLETE.md
  apps/backend/backend.pid
  apps/frontend/frontend.pid
  apps/frontend/src/components/examples/__tests__/ExampleForm.test.js
  apps/frontend/src/components/ui/__tests__/form.test.js
  apps/frontend/src/index.js
  apps/frontend/src/lib/validations/__tests__/common.test.js
  apps/frontend/src/lib/validations/__tests__/schemas.test.js
  apps/frontend/src/utils/formikYupPatch.js
  apps/frontend/vite.config.js
  deploy/docker/docker-compose.yml
  docs/REACT_HOOK_FORM_PHASE4_COMPLETE.md
  docs/REACT_HOOK_FORM_PHASES_1_2_3_EXECUTED.md
  docs/REACT_HOOK_FORM_ZOD_SETUP_BATTLE_PLAN.md
Due: eslint --fix, prettier --write

fix(validations): coerce numeric form values before applying Zod schemas
  PR_DESCRIPTION_REACT_HOOK_FORM_ZOD.md
  apps/frontend/src/lib/validations/__tests__/common.test.js
  apps/frontend/src/lib/validations/common.js
  apps/frontend/src/lib/validations/schemas.js
Due: eslint --fix, prettier --write

docs: update PR description with numeric coercion fix
  PR_DESCRIPTION_REACT_HOOK_FORM_ZOD.md
Due: prettier --write

fix(validations): remove unused imports
  apps/frontend/src/lib/validations/__tests__/schemas.test.js
  apps/frontend/src/lib/validations/schemas.js
Due: eslint --fix, prettier --write

feat(frontend): add core shadcn/ui components for migration
  PR_DESCRIPTION_SHADCN_UI_CORE_COMPONENTS.md
  apps/frontend/components.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/ui/__tests__/components-import.test.js
  apps/frontend/src/components/ui/alert-dialog.jsx
  apps/frontend/src/components/ui/alert.jsx
  apps/frontend/src/components/ui/avatar.jsx
  apps/frontend/src/components/ui/badge.jsx
  apps/frontend/src/components/ui/button.jsx
  apps/frontend/src/components/ui/checkbox.jsx
  apps/frontend/src/components/ui/dropdown-menu.jsx
  apps/frontend/src/components/ui/label.jsx
  apps/frontend/src/components/ui/popover.jsx
  apps/frontend/src/components/ui/radio-group.jsx
  apps/frontend/src/components/ui/select.jsx
  apps/frontend/src/components/ui/separator.jsx
  apps/frontend/src/components/ui/skeleton.jsx
  apps/frontend/src/components/ui/sonner.jsx
  apps/frontend/src/components/ui/switch.jsx
  apps/frontend/src/components/ui/tabs.jsx
  apps/frontend/src/components/ui/textarea.jsx
  apps/frontend/src/components/ui/tooltip.jsx
  docs/SHADCN_UI_CORE_COMPONENTS_BATTLE_PLAN.md
Due: eslint --fix, prettier --write

docs: mark battle plan as complete
  docs/SHADCN_UI_CORE_COMPONENTS_BATTLE_PLAN.md
Due: prettier --write

fix(frontend): add ThemeProvider for Sonner toast component
  PR_DESCRIPTION_SHADCN_UI_CORE_COMPONENTS.md
  apps/frontend/src/index.js
Due: eslint --fix, prettier --write

feat(frontend): setup TanStack Table with shadcn/ui styling
  PR_DESCRIPTION_TANSTACK_TABLE_SETUP.md
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/components/examples/ExampleDataTable.jsx
  apps/frontend/src/components/ui/__tests__/data-table-pagination.test.js
  apps/frontend/src/components/ui/__tests__/data-table.test.js
  apps/frontend/src/components/ui/data-table-pagination.jsx
  apps/frontend/src/components/ui/data-table.jsx
  apps/frontend/src/components/ui/table.jsx
  docs/TANSTACK_TABLE_SETUP_BATTLE_PLAN.md
  verify-tanstack-table-setup.sh
Due: eslint --fix, prettier --write

docs: update TanStack Table battle plan status to complete
  docs/TANSTACK_TABLE_SETUP_BATTLE_PLAN.md
Due: prettier --write

fix(frontend): implement row selection controls in DataTable
  apps/frontend/src/components/examples/ExampleDataTable.jsx
  apps/frontend/src/components/ui/__tests__/data-table.test.js
  apps/frontend/src/components/ui/data-table.jsx
Due: eslint --fix, prettier --write

feat(layouts): migrate Header, Sidebar, Footer to shadcn/ui + Tailwind CSS
  apps/frontend/src/__tests__/layouts/admin-layout.test.jsx
  apps/frontend/src/__tests__/layouts/footer.test.jsx
  apps/frontend/src/__tests__/layouts/header.test.jsx
  apps/frontend/src/__tests__/layouts/sidebar.test.jsx
  apps/frontend/src/components/ui/breadcrumb.jsx
  apps/frontend/src/components/ui/scroll-area.jsx
  apps/frontend/src/components/ui/sheet.jsx
  apps/frontend/src/layouts/admin/index.jsx
  apps/frontend/src/layouts/components/footer.jsx
  apps/frontend/src/layouts/components/header.jsx
  apps/frontend/src/layouts/components/mobile-nav.jsx
  apps/frontend/src/layouts/components/sidebar.jsx
  docs/LAYOUT_COMPONENTS_MIGRATION_BATTLE_PLAN.md
  docs/VITE_CHUNKING_FIXES.md
  scripts/verify-layout-migration.sh
Due: eslint --fix, prettier --write

test(layouts): fix AdminLayout integration tests and complete migration
  PR_DESCRIPTION_LAYOUT_COMPONENTS_MIGRATION.md
  apps/frontend/src/__tests__/layouts/admin-layout.test.jsx
  docs/LAYOUT_COMPONENTS_MIGRATION_BATTLE_PLAN.md
  scripts/verify-layout-migration.sh
Due: eslint --fix, prettier --write

test(layouts): fix Footer test localStorage mock tracking
  apps/frontend/src/__tests__/layouts/footer.test.jsx
Due: eslint --fix, prettier --write

fix(bank-transactions): resolve CodeQL warnings for code quality
  apps/frontend/src/screens/bank_account/screens/detail/screen.js
  apps/frontend/src/screens/bank_account/screens/transactions/screen.js
  apps/frontend/src/screens/bank_account/screens/transactions/screens/create/helpers/customvalidation.js
  apps/frontend/src/screens/bank_account/screens/transactions/screens/create/screen.js
Due: eslint --fix, prettier --write

fix(layouts): remove unused imports, variables, and state properties
  apps/frontend/src/layouts/admin/index.jsx
  apps/frontend/src/layouts/components/header.jsx
  apps/frontend/src/layouts/components/sidebar.jsx
Due: eslint --fix, prettier --write

test(layouts): fix Footer test localStorage mock call tracking
  apps/frontend/src/__tests__/layouts/footer.test.jsx
Due: eslint --fix, prettier --write

test(layouts): restore localStorage mock implementation after clearAllMocks
  apps/frontend/src/__tests__/layouts/footer.test.jsx
Due: eslint --fix, prettier --write

test(layouts): fix localStorage mock pattern for jest.clearAllMocks
  apps/frontend/src/__tests__/layouts/footer.test.jsx
Due: eslint --fix, prettier --write

docs: add GitHub issue template and update PR description
  GITHUB_ISSUE_BANK_TRANSACTION_CODE_QUALITY.md
  PR_DESCRIPTION_BANK_TRANSACTION_CODE_QUALITY.md
Due: prettier --write

fix(bank-transactions): remove redundant value && checks in Yup validation
  CREATE_ISSUE_AND_PR_GUIDE.md
  apps/frontend/src/screens/bank_account/screens/transactions/screens/create/helpers/customvalidation.js
  apps/frontend/src/screens/bank_account/screens/transactions/screens/create/screen.js
Due: eslint --fix, prettier --write

fix(frontend): resolve registration form validation and redirect issues
  apps/frontend/src/screens/register/screen.js
  apps/frontend/src/services/global/auth/authSlice.js
  apps/frontend/src/utils/api.js
Due: eslint --fix, prettier --write

docs: add session summary and issue templates for registration fixes
  COMMIT_AND_ISSUES_SUMMARY.md
  GITHUB_ISSUE_BACKEND_REGISTRATION_500_ERROR.md
  GITHUB_ISSUE_FRONTEND_REGISTRATION_FIXES.md
  REDIRECT_EXPLANATION.md
  SESSION_SUMMARY.md
  apps/backend/SECURITY_NOTES.md
Due: prettier --write

chore(backend): add enhanced error logging for registration debugging
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/backend/src/main/java/com/simpleaccounts/security/SimpleCorsFilter.java
Due: ./scripts/run-java-formatter.sh

fix(security): address CodeQL security vulnerabilities and warnings
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/frontend/src/screens/register/screen.js
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix(validation): allow 15-digit TRN values for UAE VAT registration
  apps/frontend/src/screens/register/screen.js
Due: eslint --fix, prettier --write

fix(security): validate Origin header against whitelist to prevent XSS
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
Due: ./scripts/run-java-formatter.sh

fix(registration): handle missing smtp configuration gracefully
  apps/backend/src/main/java/com/simpleaccounts/rest/companycontroller/CompanyController.java
  apps/backend/src/main/java/com/simpleaccounts/service/UserService.java
  apps/backend/src/main/java/com/simpleaccounts/service/impl/UserServiceImpl.java
  apps/backend/src/main/java/com/simpleaccounts/utils/EmailSender.java
Due: ./scripts/run-java-formatter.sh

fix(auth): remove subscription checks and fix rtk payload access
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/layouts/admin/index.jsx
  apps/frontend/src/screens/log_in/screen.js
  apps/frontend/src/services/global/auth/actions.js
  apps/frontend/src/services/global/auth/authSlice.js
  apps/frontend/src/services/global/index.js
Due: eslint --fix, prettier --write

chore: project improvements and hibernate fixes
  .gitignore
  CONTRIBUTING.md
  apps/backend/pom.xml
  apps/backend/src/main/java/com/simpleaccounts/entity/Company.java
  apps/backend/src/main/java/com/simpleaccounts/entity/User.java
  apps/backend/src/main/resources/application.properties
  apps/backend/src/main/resources/liquibase/databaseChangeLogs/seed-industry-type-data.sql
  apps/backend/src/main/resources/liquibase/liquibase-changelog.xml
  apps/backend/src/main/resources/logback.xml
  package-lock.json
  package.json
Due: prettier --write, ./scripts/run-java-formatter.sh
