Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/frontend/**/*.{css,scss}": ["prettier --write"],
  "apps/backend/**/*.java": ["./scripts/run-java-formatter.sh"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix(backend): correct transaction report response type
  apps/backend/src/main/java/com/simpleaccounts/rest/reports/TransactionReportRestController.java
Due: ./scripts/run-java-formatter.sh

fix(backend): resolve circular dependencies with @Lazy annotations (#116)
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/CoacTransactionCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/bankaccount/TransactionCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/SalaryRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/payrolServiceImpl/PayrolServiceImpl.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/service/Impl/SalaryServiceImpl.java
  apps/backend/src/main/java/com/simpleaccounts/service/impl/CompanyServiceImpl.java
  apps/backend/src/main/java/com/simpleaccounts/service/impl/bankaccount/ReconcileStatusServiceImpl.java
  apps/frontend/Dockerfile
  apps/frontend/src/screens/log_in/screen.js
  deploy/docker/docker-compose.yml
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix(ci): make sonar scanner java 17
  .github/workflows/matrix-tests.yml
  .github/workflows/sonarqube.yml
Due: prettier --write

test(backend): restore timezone system property
  apps/backend/src/test/java/com/simpleaccounts/security/CustomUserDetailsServiceTest.java
Due: ./scripts/run-java-formatter.sh

test(backend): add view model test for paymentresthelper
  apps/backend/src/test/java/com/simpleaccounts/rest/paymentcontroller/PaymentRestHelperViewTest.java
Due: ./scripts/run-java-formatter.sh

chore(ci): add required checks
  .github/workflows/build.yml
  .github/workflows/flaky-test-tracker.yml
  .github/workflows/gitleaks.yml
  .github/workflows/matrix-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/security.yml
  .github/workflows/sonarqube.yml
  scripts/analyze-sonarqube-issues.py
  scripts/fetch-high-priority-issues.py
  scripts/fetch-sonarqube-issues.sh
  sonar-project.properties
Due: prettier --write

fix(ci): stabilize matrix timezone
  .github/workflows/matrix-tests.yml
Due: prettier --write

chore(ci): add gitleaks + lint required checks (#124)
  .github/workflows/build.yml
  .github/workflows/flaky-test-tracker.yml
  .github/workflows/gitleaks.yml
  .github/workflows/matrix-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/security.yml
  .github/workflows/sonarqube.yml
  apps/backend/src/test/java/com/simpleaccounts/rest/paymentcontroller/PaymentRestHelperViewTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/CustomUserDetailsServiceTest.java
  scripts/analyze-sonarqube-issues.py
  scripts/fetch-high-priority-issues.py
  scripts/fetch-sonarqube-issues.sh
  sonar-project.properties
Due: prettier --write, ./scripts/run-java-formatter.sh

fix(frontend): update ag-grid imports
  apps/frontend/src/screens/financial_report/sections/excise_tax_audit_report_MainPage/screen.js
  apps/frontend/src/screens/financial_report/sections/excise_tax_audit_report_MainPage/screens/generate_Fta_audit_report/screen.js
  apps/frontend/src/screens/financial_report/sections/fta_audit_report_MainPage/screen.js
  apps/frontend/src/screens/financial_report/sections/fta_audit_report_MainPage/screens/generate_Fta_audit_report/screen.js
  apps/frontend/src/screens/financial_report/sections/vat_reports/screens/vatPaymentRecord/screen.js
  apps/frontend/src/screens/financial_report/sections/vat_return/screens/subReports/screen.js
  apps/frontend/src/screens/inventory/sections/inventory_summary/index.js
  apps/frontend/src/screens/payrollemp/screen.js
Due: eslint --fix, prettier --write

test(backend): add ProductRestHelper test and normalize whitespace
  apps/backend/src/main/java/com/simpleaccounts/helper/DashboardCacheKeyUtil.java
  apps/backend/src/main/java/com/simpleaccounts/uae/LocaleFormatUtil.java
  apps/backend/src/test/java/com/simpleaccounts/helper/DashboardRestHelperTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/CsvParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/ExcelParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/H2Functions.java
  apps/backend/src/test/java/com/simpleaccounts/rest/financialreport/FinancialReportControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/productcontroller/ProductRestHelperTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactionparsingcontroller/TransactionParsingSettingControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/AuthenticationRequiredTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/CustomUserDetailsTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/bankaccount/ReconcileStatusServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/LocaleFormatTest.java
  apps/backend/src/test/resources/data/uae/wps_expected.csv
  apps/frontend/e2e/environment.smoke.spec.ts
  apps/frontend/e2e/reconcile.smoke.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/actions.test.js
  apps/frontend/src/screens/customer_invoice/reducer.test.js
  apps/frontend/src/screens/customer_invoice/screens/create/actions.test.js
  apps/frontend/src/screens/expense/reducer.test.js
  apps/frontend/src/screens/expense/screens/create/actions.test.js
  apps/frontend/src/test/msw/server.js
  apps/frontend/tsconfig.playwright.json
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix(ci): stabilize CI required checks and add tests (#125)
  apps/backend/src/main/java/com/simpleaccounts/helper/DashboardCacheKeyUtil.java
  apps/backend/src/main/java/com/simpleaccounts/uae/LocaleFormatUtil.java
  apps/backend/src/test/java/com/simpleaccounts/helper/DashboardRestHelperTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/CsvParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/ExcelParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/H2Functions.java
  apps/backend/src/test/java/com/simpleaccounts/rest/financialreport/FinancialReportControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/productcontroller/ProductRestHelperTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactionparsingcontroller/TransactionParsingSettingControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/AuthenticationRequiredTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/CustomUserDetailsTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/bankaccount/ReconcileStatusServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/LocaleFormatTest.java
  apps/backend/src/test/resources/data/uae/wps_expected.csv
  apps/frontend/e2e/environment.smoke.spec.ts
  apps/frontend/e2e/reconcile.smoke.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/actions.test.js
  apps/frontend/src/screens/customer_invoice/reducer.test.js
  apps/frontend/src/screens/customer_invoice/screens/create/actions.test.js
  apps/frontend/src/screens/expense/reducer.test.js
  apps/frontend/src/screens/expense/screens/create/actions.test.js
  apps/frontend/src/test/msw/server.js
  apps/frontend/tsconfig.playwright.json
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

docs: add backend and frontend migration plans
  docs/BACKEND_MIGRATION_PLAN.md
  docs/FRONTEND_MIGRATION_PLAN.md
Due: prettier --write

docs: add backend and frontend migration plans (#184)
  docs/BACKEND_MIGRATION_PLAN.md
  docs/FRONTEND_MIGRATION_PLAN.md
Due: prettier --write

fix(backend): resolve Docker build and runtime issues
  apps/backend/Dockerfile
  apps/backend/pom.xml
  apps/backend/src/main/java/com/simpleaccounts/dao/AbstractDao.java
  apps/backend/src/main/java/com/simpleaccounts/security/WebSecurityConfig.java
  apps/backend/src/main/java/com/simpleaccounts/swagger/SwaggerConfig.java
Due: ./scripts/run-java-formatter.sh

chore(frontend): update package-lock.json
  apps/frontend/package-lock.json
Due: prettier --write

fix: resolve CodeQL and code review issues
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/JournalDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/bankaccount/TransactionCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/helper/ExpenseRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/helper/TransactionHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/CorporateTax/CorporateTaxController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/InventoryController/InventoryController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/bankaccountcontroller/BankAccountController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/bankaccountcontroller/BankAccountRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/contactcontroller/ContactController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/creditnotecontroller/CreditNoteRestHelper.java
  package.json
Due: prettier --write, ./scripts/run-java-formatter.sh

feat(frontend): add Vite configuration (Phase 1) - task 157
  apps/frontend/Dockerfile
  apps/frontend/index.html
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/public/index.html.old
  apps/frontend/public/test.html.old
  apps/frontend/src/app.js
  apps/frontend/src/app.scss
  apps/frontend/src/assets/scss/style.scss
  apps/frontend/src/assets/scss/vendors/_variables.scss
  apps/frontend/src/constants/config.js
  apps/frontend/src/screens/goods_received_note/screens/create/screen.js
  apps/frontend/src/screens/product/screens/inventory_edit/screen.js
  apps/frontend/src/screens/product/screens/inventory_history/screen.js
  apps/frontend/src/screens/purchase_order/screens/create/screen.js
  apps/frontend/src/screens/request_for_quotation/screens/create/screen.js
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

fix(backend): update swagger annotation
  apps/backend/src/main/java/com/simpleaccounts/swagger/SwaggerConfig.java
Due: ./scripts/run-java-formatter.sh

fix(ci): resolve backend tests and dependency scan
  .github/workflows/sonarqube.yml
  apps/backend/pom.xml
  apps/backend/src/test/java/com/simpleaccounts/integration/ExternalApiIntegrationTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/InventoryController/InventoryControllerTest.java
Due: prettier --write, ./scripts/run-java-formatter.sh

fix(ci): silence historical gitleaks findings
  .gitleaksignore
  apps/backend/src/test/java/com/simpleaccounts/contract/OpenApiContractTest.java
Due: ./scripts/run-java-formatter.sh

docs: update Node version requirements and add Phase 1 migration summary
  .nvmrc
  AGENTS.md
  README.md
  docs/VITE_MIGRATION_PHASE1_SUMMARY.md
  package.json
Due: prettier --write

fix(frontend): remove overwritten property
  apps/frontend/src/screens/supplier_invoice/screens/create/screen.js
Due: eslint --fix, prettier --write

fix(frontend): remove duplicate totalBank key
  apps/frontend/src/screens/financial_report/sections/horizontal_balance_sheet/screen.js
Due: eslint --fix, prettier --write

feat(frontend): migrate environment variables to Vite (Phase 2) - #157
  apps/frontend/src/serviceWorker.js
  apps/frontend/src/setupTests.js
  apps/frontend/src/utils/env.js
  docs/VITE_MIGRATION_PHASE2_SUMMARY.md
Due: eslint --fix, prettier --write

fix(test): remove isDisabled prop warning in term_date_input test
  apps/frontend/src/components/form_control/term_date_input.test.js
Due: eslint --fix, prettier --write

feat(frontend): configure Jest for Vite compatibility (Phase 3) - #157
  apps/frontend/package.json
  apps/frontend/src/utils/__tests__/env.test.js
Due: eslint --fix, prettier --write

docs: add Phase 3 migration summary
  docs/VITE_MIGRATION_PHASE3_SUMMARY.md
Due: prettier --write

fix(utils): restore getMetaEnv helper function
  apps/frontend/src/utils/env.js
Due: eslint --fix, prettier --write

test(utils): add module loading test for env utilities
  apps/frontend/src/utils/__tests__/env.test.js
Due: eslint --fix, prettier --write

fix(package.json): remove JSON comments causing parse errors
  apps/frontend/package.json
Due: prettier --write

fix(jest): remove unsupported CRA Jest options
  apps/frontend/package.json
Due: prettier --write

fix(test): make env test more robust for different NODE_ENV values
  apps/frontend/src/utils/__tests__/env.test.js
Due: eslint --fix, prettier --write

fix(test): fix hardcoded getEnvMode expectation
  apps/frontend/src/utils/__tests__/env.test.js
Due: eslint --fix, prettier --write

fix(utils): fix Jest parse error with import.meta detection
  apps/frontend/src/utils/env.js
Due: eslint --fix, prettier --write

fix(utils): avoid Jest parse error by using window global for Vite env
  apps/frontend/src/utils/env.js
  apps/frontend/vite.config.js
Due: eslint --fix, prettier --write

fix(test): correct isProduction expectation in env test
  apps/frontend/src/utils/__tests__/env.test.js
Due: eslint --fix, prettier --write

test(utils): improve env.js test coverage
  apps/frontend/src/utils/__tests__/env.test.js
Due: eslint --fix, prettier --write
