Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: correct all remaining frontend action test expectations to match actual dispatch behavior
  apps/frontend/src/screens/employee_Bank_Details/__tests__/actions.test.js
  apps/frontend/src/screens/employment/__tests__/actions.test.js
  apps/frontend/src/screens/financial_report/__tests__/actions.test.js
  apps/frontend/src/screens/goods_received_note/__tests__/actions.test.js
  apps/frontend/src/screens/journal/__tests__/actions.test.js
  apps/frontend/src/screens/payroll_run/__tests__/actions.test.js
  apps/frontend/src/screens/purchase_order/__tests__/actions.test.js
  apps/frontend/src/screens/quotation/__tests__/actions.test.js
  apps/frontend/src/screens/request_for_quotation/__tests__/actions.test.js
  apps/frontend/src/screens/salaryTemplate/__tests__/actions.test.js
  fix_test_expectations.sh
  test-results/.last-run.json
Due: eslint --fix, prettier --write

fix: correct employee_Bank_Details getCurrencyList test to expect data array payload
  apps/frontend/src/screens/employee_Bank_Details/__tests__/actions.test.js
Due: eslint --fix, prettier --write

fix: correct employee_Bank_Details empty currency list test to expect payload directly
  apps/frontend/src/screens/employee_Bank_Details/__tests__/actions.test.js
Due: eslint --fix, prettier --write

fix: correct journal getCurrencyList test to expect data array payload
  apps/frontend/src/screens/journal/__tests__/actions.test.js
Due: eslint --fix, prettier --write

fix: correct all remaining journal action test expectations
  apps/frontend/src/screens/journal/__tests__/actions.test.js
Due: eslint --fix, prettier --write

fix: correct salaryTemplate getSalaryRolesForDropdown test expectation
  apps/frontend/src/screens/salaryTemplate/__tests__/actions.test.js
Due: eslint --fix, prettier --write

fix: format invoice and supplier invoice dates as DD/MM/YYYY for backend compatibility
  apps/frontend/e2e/invoice-create-test.spec.ts
  apps/frontend/src/screens/customer_invoice/screens/create/screen.jsx
  apps/frontend/src/screens/supplier_invoice/screens/create/screen.jsx
Due: eslint --fix, prettier --write

fix: format code changes with Prettier
  apps/frontend/e2e/invoice-create-test.spec.ts
  apps/frontend/e2e/performance-test.spec.ts
  apps/frontend/src/screens/bank_account/reducer.js
  apps/frontend/src/screens/customer_invoice/screens/create/screen.jsx
  apps/frontend/src/screens/supplier_invoice/screens/create/screen.jsx
Due: eslint --fix, prettier --write

fix: resolve react child error and improve product creation
  apps/frontend/e2e/product-creation-test.spec.ts
  apps/frontend/src/components/form_control/term_date_input.js
  apps/frontend/src/components/migration/NeuInput.jsx
  apps/frontend/src/screens/customer_invoice/screens/create/screen.jsx
  apps/frontend/src/screens/customer_invoice/sections/product_modal.jsx
  apps/frontend/src/screens/dashboard/__tests__/Dashboard.test.js
  apps/frontend/src/screens/product/screens/create/screen.jsx
Due: eslint --fix, prettier --write

fix(e2e): phase 4 e2e fixes – contact api, reports, vat, bank helpers
  apps/frontend/e2e/bank-reconciliation-workflow.spec.ts
  apps/frontend/e2e/financial-reporting-workflow.spec.ts
  apps/frontend/e2e/helpers/bank-account-helpers.ts
  apps/frontend/e2e/helpers/contact-helpers.ts
  apps/frontend/e2e/helpers/financial-reporting-helpers.ts
  apps/frontend/e2e/helpers/reconciliation-helpers.ts
  apps/frontend/e2e/helpers/vat-helpers.ts
  apps/frontend/e2e/vat-filing-workflow.spec.ts
Due: eslint --fix, prettier --write

Fix getBankTransactionTypes endpoint - clear lazy-loaded relationships
  apps/backend/src/main/java/com/simpleaccounts/rest/datalistcontroller/DataListController.java
Due: ./scripts/run-java-formatter.sh

Fix Money Received transaction type and expense reducer mutations
  apps/backend/src/main/java/com/simpleaccounts/rest/transactioncontroller/TransactionRestController.java
  apps/frontend/src/screens/expense/reducer.js
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: show backend error when invoice posting fails (line item has no product)
  apps/backend/src/main/java/com/simpleaccounts/rest/AbstractDoubleEntryRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestHelper.java
  apps/frontend/src/screens/customer_invoice/screen.jsx
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

fix: resolve eslint errors blocking pre-push
  apps/frontend/src/screens/customer_invoice/screens/record_payment/screen.jsx
  apps/frontend/src/screens/expense/reducer.js
  apps/frontend/src/screens/expense/screen.jsx
  apps/frontend/src/screens/expense/screens/view/screen.jsx
Due: eslint --fix, prettier --write

style: format expense screen
  apps/frontend/src/screens/expense/screen.jsx
Due: eslint --fix, prettier --write

chore(ci): migrate all workflows to self-hosted k3s runners
  .github/workflows/build.yml
  .github/workflows/coder-template-push.yml
  .github/workflows/devcontainer-prebuild.yml
  .github/workflows/flaky-test-tracker.yml
  .github/workflows/gitleaks.yml
  .github/workflows/matrix-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/sonarqube.yml
Due: prettier --write

ci: fix gitleaks arm64 binary, use maven wrapper in workflows
  .github/workflows/build.yml
  .github/workflows/gitleaks.yml
  .github/workflows/matrix-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/security.yml
  .github/workflows/sonarqube.yml
  .gitignore
  .prettierignore
Due: prettier --write

fix: backend ci and messageutil, remove ide-specific paths from code
  .github/workflows/build.yml
  .gitignore
  apps/backend/src/main/java/com/simpleaccounts/rest/AbstractDoubleEntryRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/transactioncontroller/TransactionRestController.java
  apps/backend/src/main/java/com/simpleaccounts/utils/MessageUtil.java
Due: prettier --write, ./scripts/run-java-formatter.sh

ci(security): run codeql on ubuntu-latest (x64)
  .github/workflows/security.yml
Due: prettier --write

ci: gitleaks arm64, maven wrapper, MessageUtil fix, CodeQL x64 (#668)
  .github/workflows/security.yml
Due: prettier --write

fix(devcontainer): allow playwright install to fail in multi-platform build
  .devcontainer/Dockerfile
Due: none

fix(devcontainer): allow playwright install to fail in multi-platform build (#669)
  .devcontainer/Dockerfile
Due: none

test(contact): fix DetailContact tests - mock getContactById to return Promise
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

test(contact): fix DetailContact and CreateContact tests for CI
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

ci: gitleaks arm64, maven wrapper, MessageUtil, CodeQL x64, devcontainer Playwright, DetailContact tests (#671)
  apps/frontend/src/screens/contact/screens/create/__tests__/CreateContact.test.js
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

chore: phase-4 completed tasks verification and reconciliation updates
  apps/backend/src/main/java/com/simpleaccounts/rest/reconsilationcontroller/ReconsilationController.java
  apps/frontend/e2e/bank-reconciliation-workflow.spec.ts
  apps/frontend/e2e/docs/phase-4-remaining-tasks-action-plan.md
  apps/frontend/e2e/phase-4-completed-tasks-verification.spec.ts
  apps/frontend/src/screens/bank_account/screens/transactions/screen.jsx
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/actions.js
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/screen.jsx
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/style.scss
Due: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

style: apply prettier to reconciliation and e2e files
  apps/frontend/e2e/bank-reconciliation-workflow.spec.ts
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/actions.js
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/screen.jsx
Due: eslint --fix, prettier --write

test: stabilize detail contact delete button
  .prettierignore
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

test: wait for form load in detail contact form inputs test
  apps/frontend/src/screens/contact/screens/detail/__tests__/DetailContact.test.js
Due: eslint --fix, prettier --write

feat: update API endpoint URLs to remove trailing slashes and enhance route navigation for components
  apps/frontend/src/layouts/admin/index.js
  apps/frontend/src/screens/chart_account/actions.js
  apps/frontend/src/screens/contact/actions.js
  apps/frontend/src/screens/creditNotes/actions.js
  apps/frontend/src/screens/customer_invoice/actions.js
  apps/frontend/src/screens/debitNotes/actions.js
  apps/frontend/src/screens/product/productSlice.js
  apps/frontend/src/screens/product/screen.jsx
  apps/frontend/src/screens/vat_code/actions.js
  apps/frontend/src/screens/vat_code/screen.jsx
  apps/frontend/src/screens/vat_code/screens/create/screen.jsx
  apps/frontend/src/screens/vat_code/screens/detail/screen.jsx
Due: eslint --fix, prettier --write

fix: update product reducer import path to use productSlice
  apps/frontend/src/services/reducer.js
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  apps/frontend/src/screens/vat_code/screens/create/screen.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: apps/frontend/**/*.{js,jsx,ts,tsx}) or (any of: apps/frontend/**/*.{css,scss})) or (any of: *.{json,md,yml,yaml})
  ./scripts/run-java-formatter.sh: any of: apps/backend/**/*.java
