Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./scripts/run-java-formatter.sh

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "apps/frontend/**/*.{css,scss}": ["prettier --write"],
  "apps/backend/**/*.java": ["./scripts/run-java-formatter.sh"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: add application-local.properties to gitignore
  .gitignore
Due: none

fix(devcontainer): resolve maven wrapper and npm sync errors (#332)
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/install-cli-tools.sh
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
  .gitignore
  package-lock.json
Due: prettier --write

fix(devcontainer): handle root user when creating maven wrapper dir
  .devcontainer/post-create.sh
Due: none

fix(devcontainer): handle root user when creating maven wrapper dir (#334)
  .devcontainer/post-create.sh
Due: none

fix(backend): upgrade maven wrapper to apache 3.3.2
  apps/backend/.mvn/wrapper/maven-wrapper.properties
Due: none

chore(frontend): remove unused coreui packages
  apps/frontend/package.json
  apps/frontend/src/screens/dashboard/sections/profit_loss/index.js
Due: eslint --fix, prettier --write

chore(deps): replace react-dates with react-datepicker
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/screens/payroll_run/screens/createPayrollList/screen.jsx
  apps/frontend/src/screens/payroll_run/screens/updatePayroll/screen.jsx
Due: eslint --fix, prettier --write

fix(backend): upgrade maven wrapper to apache 3.3.2 (#336)
  apps/backend/.mvn/wrapper/maven-wrapper.properties
Due: none

chore(deps): remove CoreUI Pro SCSS, migrate to Bootstrap 5
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/assets/scss/style.scss
  apps/frontend/src/assets/scss/vendors/_variables.scss
Due: prettier --write

feat(components): add neumorphic migration wrapper components
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/assets/scss/style.scss
  apps/frontend/src/assets/scss/vendors/_variables.scss
  apps/frontend/src/components/migration/NeuButton.jsx
  apps/frontend/src/components/migration/NeuCard.jsx
  apps/frontend/src/components/migration/NeuDropdown.jsx
  apps/frontend/src/components/migration/NeuInput.jsx
  apps/frontend/src/components/migration/NeuModal.jsx
  apps/frontend/src/components/migration/NeuTable.jsx
  apps/frontend/src/components/migration/index.js
Due: eslint --fix, prettier --write

chore(deps): replace react-dates with react-datepicker (#338)
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/screens/payroll_run/screens/createPayrollList/screen.jsx
  apps/frontend/src/screens/payroll_run/screens/updatePayroll/screen.jsx
Due: eslint --fix, prettier --write

fix: regenerate package-lock.json after CoreUI removal
  apps/frontend/package-lock.json
Due: prettier --write

chore(deps): upgrade to ESLint 9 flat config
  apps/frontend/eslint.config.mjs
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

chore(deps): upgrade to ESLint 9 flat config (#339)
  apps/frontend/eslint.config.mjs
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

chore(frontend): remove unused coreui packages (#337)
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/screens/dashboard/sections/profit_loss/index.js
Due: eslint --fix, prettier --write

chore(deps): remove CoreUI Pro SCSS, migrate to Bootstrap 5 (#340)
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/assets/scss/style.scss
  apps/frontend/src/assets/scss/vendors/_variables.scss
Due: prettier --write

style: fix prettier formatting in migration components
  apps/frontend/src/components/migration/NeuButton.jsx
  apps/frontend/src/components/migration/NeuCard.jsx
  apps/frontend/src/components/migration/NeuDropdown.jsx
  apps/frontend/src/components/migration/NeuInput.jsx
  apps/frontend/src/components/migration/NeuModal.jsx
  apps/frontend/src/components/migration/index.js
Due: eslint --fix, prettier --write

feat(components): add neumorphic migration wrapper components (#341)
  apps/frontend/src/components/migration/NeuButton.jsx
  apps/frontend/src/components/migration/NeuCard.jsx
  apps/frontend/src/components/migration/NeuDropdown.jsx
  apps/frontend/src/components/migration/NeuInput.jsx
  apps/frontend/src/components/migration/NeuModal.jsx
  apps/frontend/src/components/migration/NeuTable.jsx
  apps/frontend/src/components/migration/index.js
Due: eslint --fix, prettier --write

fix(deps): remove CoreUI packages accidentally re-added in PR #340
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

fix: remove unused imports flagged by code quality bot
  apps/frontend/src/components/form_control/zip_code_input.js
  apps/frontend/src/components/product_table/screen.jsx
  apps/frontend/src/screens/contact/sections/addressComponent.js
  apps/frontend/src/screens/creditNotes/screens/applyToInvoice/screen.jsx
  apps/frontend/src/screens/creditNotes/screens/view/sections/credit_note_template.js
  apps/frontend/src/screens/creditNotes/screens/view/sections/credit_note_template.jsx
  apps/frontend/src/screens/currencyConvert/screen.jsx
  apps/frontend/src/screens/dashboard/sections/bank_account/index.js
  apps/frontend/src/screens/debitNotes/screens/applyToInvoice/screen.jsx
  apps/frontend/src/screens/debitNotes/screens/view/sections/debitNote_template.js
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 7422: Unused variable, import, function or class
  apps/frontend/src/screens/user/screen.jsx
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 7421: Unused variable, import, function or class
  apps/frontend/src/screens/transactions_report/sections/account_balance/index.jsx
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 7410: Unused variable, import, function or class
  apps/frontend/src/screens/detailed_general_ledger_report/sections/FilterComponent3.jsx
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 7412: Unused variable, import, function or class
  apps/frontend/src/screens/goods_received_note/screens/view/sections/invoice_template.js
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 7411: Unused variable, import, function or class
  apps/frontend/src/screens/financial_report/sections/vat_return/screens/subReports/screen.jsx
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 7413: Unused variable, import, function or class
  apps/frontend/src/screens/import/sections/migrate_history/screen.jsx
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 7414: Unused variable, import, function or class
  apps/frontend/src/screens/payroll_run/screens/approver/sections/addEmployees.jsx
Due: eslint --fix, prettier --write

style: fix prettier formatting and add eslint 9 flat config
  .lintstagedrc.json
  apps/frontend/src/components/migration/NeuAlert.jsx
  apps/frontend/src/components/migration/NeuButtonGroup.jsx
  apps/frontend/src/components/migration/NeuDropdown.jsx
  apps/frontend/src/components/migration/NeuForm.jsx
  apps/frontend/src/components/migration/NeuInput.jsx
  apps/frontend/src/components/migration/NeuLayout.jsx
  apps/frontend/src/components/migration/NeuModal.jsx
  apps/frontend/src/components/migration/NeuNav.jsx
  apps/frontend/src/components/migration/NeuTable.jsx
  apps/frontend/src/screens/bank_account/screens/transactions/screens/detail/sections/view_bank_account.js
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/sections/view_bank_account.js
  apps/frontend/src/screens/currencyConvert/screens/create/screen.jsx
  apps/frontend/src/screens/dashboard/sections/invoice/index.js
  apps/frontend/src/screens/dashboard/sections/revenue_expense/index.js
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Potential fix for pull request finding 'Unused variable, import, function or class'
  apps/frontend/src/screens/request_for_quotation/screens/view/screen.jsx
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 7420: Unused variable, import, function or class
  apps/frontend/src/screens/salaryTemplate/screen.jsx
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 7418: Unused variable, import, function or class
  apps/frontend/src/screens/request_for_quotation/screens/view/screen.js
Due: eslint --fix, prettier --write

style: fix prettier formatting and eslint warnings in additional files
  apps/frontend/src/screens/employee_Bank_Details/screen.jsx
  apps/frontend/src/screens/employment/screen.jsx
  apps/frontend/src/screens/expense/screens/detail/sections/view_expense_detail.js
  apps/frontend/src/screens/financial_report/sections/corporate_tax/sections/deleteModal.jsx
  apps/frontend/src/screens/financial_report/sections/expense_details/sections/filterComponent.jsx
  apps/frontend/src/screens/financial_report/sections/filterComponent.jsx
  apps/frontend/src/screens/financial_report/sections/filterComponet2.jsx
  apps/frontend/src/screens/financial_report/sections/payables_invoice_details/sections/filterComponent.jsx
  apps/frontend/src/screens/financial_report/sections/receivable_invoice_details/sections/filterComponent.jsx
  apps/frontend/src/screens/financial_report/sections/vat_reports/sections/deleteModal.jsx
  apps/frontend/src/screens/opening_balance/screens/create/screen.jsx
  apps/frontend/src/screens/payrollemp/screens/view/sections/viewPayslip.js
  apps/frontend/src/screens/project/screen.jsx
Due: eslint --fix, prettier --write

chore(husky): update hooks to v9 format
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(security): mitigate react-draft-wysiwyg xss vulnerability
  apps/frontend/src/screens/creditNotes/sections/email_template.jsx
  apps/frontend/src/screens/customer_invoice/sections/email_template.jsx
  apps/frontend/src/screens/debitNotes/sections/email_template.jsx
Due: eslint --fix, prettier --write

fix(devcontainer): improve maven wrapper directory setup robustness
  .devcontainer/post-create.sh
Due: none

fix(deps): add missing @popperjs/core dependency for bootstrap
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: prettier --write

fix: clean root lockfile for npm ci
  package-lock.json
Due: prettier --write

fix(devcontainer): improve maven wrapper directory setup robustness (#343)
  .devcontainer/post-create.sh
  apps/frontend/package-lock.json
  apps/frontend/package.json
  package-lock.json
Due: prettier --write
