Repository SimpleAccounts/SimpleAccounts-UAE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, google-java-format --replace

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "apps/frontend/**/*.{css,scss}": [
    "prettier --write"
  ],
  "apps/backend/**/*.java": [
    "google-java-format --replace"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

chore: initialize husky git hooks for pre-commit validation
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
Due: prettier --write

fix: resolve low-risk sonarqube code quality issues
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/ActivityDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/BankAccountTypeDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CoacTransactionCategoryDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CurrencyDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CustomerInvoiceReceiptDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/DocumentTemplateDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/UserDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/DropdownModelTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/PaginationResponseModelTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/contactcontroller/ContactControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/currencycontroller/CurrencyControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/usercontroller/UserControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/CompanyServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/CountryServiceImplTest.java
Due: google-java-format --replace

fix: replace e.printStackTrace() with proper logging and fix assertTrue assertions
  apps/backend/src/main/java/com/simpleaccounts/integration/MailIntegration.java
  apps/backend/src/main/java/com/simpleaccounts/rest/MailController/EmailService.java
  apps/backend/src/main/java/com/simpleaccounts/rest/creditnotecontroller/CreditNoteRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/detailedgeneralledgerreport/DetailedGeneralLedgerRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/employeecontroller/EmployeeHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/migrationcontroller/MigrationController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/PayrollController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/PayrollRestHepler.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/SalaryRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/payrolServiceImpl/PayrolServiceImpl.java
  apps/backend/src/main/java/com/simpleaccounts/rest/transactionimportcontroller/TransactionImportController.java
  apps/backend/src/main/java/com/simpleaccounts/rfq_po/PoQuatationRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/service/impl/ContactServiceImpl.java
  apps/backend/src/main/java/com/simpleaccounts/service/impl/EmployeeServiceImpl.java
  apps/backend/src/main/java/com/simpleaccounts/service/migrationservices/MigrationUtil.java
  apps/backend/src/main/java/com/simpleaccounts/service/migrationservices/ZohoMigrationService.java
  apps/backend/src/main/java/com/simpleaccounts/utils/EmailSender.java
  apps/backend/src/main/java/com/simpleaccounts/utils/FileHelper.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/ActivityDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CompanyDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/ContactDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CountryDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CurrencyDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/CustomUserDetailsTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/WpsFileGenerationTest.java
Due: google-java-format --replace

chore: add .mcp.env to gitignore
  .gitignore
Due: none

chore: restore MCP SonarQube configuration files
  .mcp.env.example
  .mcp.json
  scripts/run-sonarqube-mcp.sh
  scripts/setup-mcp-sonarqube.sh
Due: prettier --write

fix: extract constants for duplicated error message strings
  apps/backend/src/main/java/com/simpleaccounts/rest/MailController/EmailService.java
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/PayrollRestHepler.java
  apps/backend/src/main/java/com/simpleaccounts/rfq_po/PoQuatationRestHelper.java
Due: google-java-format --replace

fix: address security vulnerabilities and hotspots
  apps/backend/src/main/java/com/simpleaccounts/security/SimpleCorsFilter.java
  apps/backend/src/main/java/com/simpleaccounts/security/WebSecurityConfig.java
  apps/backend/src/main/java/com/simpleaccounts/utils/RandomString.java
Due: google-java-format --replace

fix: use primitive int instead of Integer wrapper for non-null test variables
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CustomerInvoiceReceiptDaoImplTest.java
Due: google-java-format --replace

ci: remove unnecessary matrix from frontend jobs
  .github/workflows/build.yml
Due: prettier --write

ci: upgrade CodeQL action from v3 to v4
  .github/workflows/security.yml
Due: prettier --write

chore: add mcp sonarqube integration configuration
  .gitignore
Due: none

chore: add mcp sonarqube integration configuration (#52)
  .gitignore
Due: none

fix: resolve SonarQube minor code quality issues
  apps/backend/src/main/java/com/simpleaccounts/entity/JournalEntryMapping.java
  apps/backend/src/main/java/com/simpleaccounts/service/DiscountTypeService.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/ChartOfAccountCategoryDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/WpsFileGenerationTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/UtilityTests.java
Due: google-java-format --replace

fix: join multiple AssertJ assertions into assertion chains (S5853)
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/BankAccountTypeDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/ChartOfAccountCategoryDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CompanyTypeDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/UserDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/DropdownModelTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/PaginationResponseModelTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/CompanyServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/ContactServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/CountryServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/CurrencyServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/UserServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/UtilityTests.java
Due: google-java-format --replace

fix: resolve remaining low-risk SonarQube issues
  apps/backend/src/main/java/com/simpleaccounts/entity/JournalEntryMapping.java
  apps/backend/src/main/java/com/simpleaccounts/service/DiscountTypeService.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/ChartOfAccountCategoryDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/WpsFileGenerationTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/UtilityTests.java
Due: google-java-format --replace

fix: resolve SonarQube minor code quality issues (#54)
  apps/backend/src/main/java/com/simpleaccounts/entity/JournalEntryMapping.java
  apps/backend/src/main/java/com/simpleaccounts/service/DiscountTypeService.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/ChartOfAccountCategoryDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/WpsFileGenerationTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/UtilityTests.java
Due: google-java-format --replace

fix: resolve SonarQube low-risk code quality issues (#83)
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/BankAccountTypeDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/ChartOfAccountCategoryDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/CompanyTypeDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/UserDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/DropdownModelTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/PaginationResponseModelTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/CompanyServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/ContactServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/CountryServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/CurrencyServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/UserServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/UtilityTests.java
Due: google-java-format --replace

fix: resolve security-related SonarQube issues
  apps/backend/src/main/java/com/simpleaccounts/rest/currencycontroller/CurrencyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/currencycontroller/dto/CurrencyDTO.java
  apps/backend/src/main/java/com/simpleaccounts/utils/MailUtility.java
Due: google-java-format --replace

fix: resolve 25 BLOCKER severity SonarQube issues
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/JournalLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/rest/MailController/MailRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/contactcontroller/ContactHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/creditnotecontroller/CreditNoteRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/invoicecontroller/InvoiceRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/payroll/PayrollRestHepler.java
  apps/backend/src/main/java/com/simpleaccounts/rest/simpleaccountreports/SimpleAccountReportDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/rest/validationcontroller/ValidationController.java
  apps/backend/src/main/java/com/simpleaccounts/rfq_po/PoQuatationRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/service/migrationservices/MigrationUtil.java
  apps/backend/src/main/java/com/simpleaccounts/utils/TransactionCategoryCreationHelper.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/FileAttachmentDaoImplTest.java
Due: google-java-format --replace

fix: resolve additional HIGH severity SonarQube issues (batch 1)
  apps/backend/src/main/java/com/simpleaccounts/dao/AbstractDao.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/EmployeeParentRelationDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/JournalLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryClosingBalanceDaoImpl.java
  apps/backend/src/test/java/com/simpleaccounts/banking/BankStatementParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/contract/OpenApiSchemaValidationTest.java
Due: google-java-format --replace

fix: resolve additional HIGH severity SonarQube issues (batch 2)
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/InvoiceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryClosingBalanceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/helper/TransactionHelper.java
Due: google-java-format --replace

fix: resolve additional HIGH severity SonarQube issues (batch 3)
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/JournalLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/entity/CreditNoteLineItem.java
  apps/backend/src/main/java/com/simpleaccounts/entity/ProductLineItem.java
  apps/backend/src/main/java/com/simpleaccounts/entity/VatPayment.java
  apps/backend/src/main/java/com/simpleaccounts/migration/ProductMigrationParser.java
  apps/backend/src/main/java/com/simpleaccounts/rest/currencycontroller/CurrencyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/dashboardcontroller/DashboardController.java
Due: google-java-format --replace

fix: add common string constants for S1192 compliance
  apps/backend/src/main/java/com/simpleaccounts/constant/CommonColumnConstants.java
Due: google-java-format --replace

fix: resolve S1192 and S6809 SonarQube issues
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ActivityDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/CoacTransactionCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/CompanyDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ContactDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ContactTransactionCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/DateFormatDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/EmployeeDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ExpenseDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/InventoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/InventoryHistoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/InvoiceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/InvoiceLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/JournalDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/JournalLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TaxTransactionDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryClosingBalanceDaoImpl.java
Due: google-java-format --replace

fix: resolve Medium severity SonarQube issues (batch 1)
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/JournalLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryClosingBalanceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/rest/dashboardcontroller/DashboardController.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/DiscountTypeServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/OSValidatorTest.java
Due: google-java-format --replace

fix: resolve Medium severity SonarQube issues (batch 2)
  apps/backend/src/test/java/com/simpleaccounts/banking/BankReconciliationTest.java
  apps/backend/src/test/java/com/simpleaccounts/dao/impl/SearchViewDaoImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/DiscountTypeServiceImplTest.java
Due: google-java-format --replace

fix: add missing newlines at end of files
  apps/backend/src/main/java/com/simpleaccounts/helper/DashboardCacheKeyUtil.java
  apps/backend/src/main/java/com/simpleaccounts/uae/LocaleFormatUtil.java
  apps/backend/src/test/java/com/simpleaccounts/helper/DashboardRestHelperTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/CsvParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/ExcelParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/H2Functions.java
  apps/backend/src/test/java/com/simpleaccounts/rest/financialreport/FinancialReportControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactionparsingcontroller/TransactionParsingSettingControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/AuthenticationRequiredTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/CustomUserDetailsTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/bankaccount/ReconcileStatusServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/LocaleFormatTest.java
  apps/backend/src/test/resources/data/uae/wps_expected.csv
  apps/frontend/e2e/environment.smoke.spec.ts
  apps/frontend/e2e/reconcile.smoke.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/actions.test.js
  apps/frontend/src/screens/customer_invoice/reducer.test.js
  apps/frontend/src/screens/customer_invoice/screens/create/actions.test.js
  apps/frontend/src/screens/expense/reducer.test.js
  apps/frontend/src/screens/expense/screens/create/actions.test.js
  apps/frontend/src/test/msw/server.js
  apps/frontend/tsconfig.playwright.json
Due: eslint --fix, prettier --write, google-java-format --replace

fix: resolve SonarQube code quality issues (#85)
  apps/backend/src/main/java/com/simpleaccounts/helper/DashboardCacheKeyUtil.java
  apps/backend/src/main/java/com/simpleaccounts/uae/LocaleFormatUtil.java
  apps/backend/src/test/java/com/simpleaccounts/helper/DashboardRestHelperTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/CsvParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/parserengine/ExcelParserTest.java
  apps/backend/src/test/java/com/simpleaccounts/repository/H2Functions.java
  apps/backend/src/test/java/com/simpleaccounts/rest/financialreport/FinancialReportControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/rest/transactionparsingcontroller/TransactionParsingSettingControllerTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/AuthenticationRequiredTest.java
  apps/backend/src/test/java/com/simpleaccounts/security/CustomUserDetailsTest.java
  apps/backend/src/test/java/com/simpleaccounts/service/impl/bankaccount/ReconcileStatusServiceImplTest.java
  apps/backend/src/test/java/com/simpleaccounts/uae/LocaleFormatTest.java
  apps/backend/src/test/resources/data/uae/wps_expected.csv
  apps/frontend/e2e/environment.smoke.spec.ts
  apps/frontend/e2e/reconcile.smoke.spec.ts
  apps/frontend/playwright.config.ts
  apps/frontend/src/screens/bank_account/screens/transactions/screens/reconcile/actions.test.js
  apps/frontend/src/screens/customer_invoice/reducer.test.js
  apps/frontend/src/screens/customer_invoice/screens/create/actions.test.js
  apps/frontend/src/screens/expense/reducer.test.js
  apps/frontend/src/screens/expense/screens/create/actions.test.js
  apps/frontend/src/test/msw/server.js
  apps/frontend/tsconfig.playwright.json
Due: eslint --fix, prettier --write, google-java-format --replace

fix: resolve S1192 and S1452 SonarQube issues (batch 3)
  apps/backend/src/main/java/com/simpleaccounts/constant/CommonColumnConstants.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/InvoiceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/JournalLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryBalanceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/bankaccount/TransactionDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/helper/ExpenseRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/AbstractDoubleEntryRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/currencycontroller/CurrencyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/detailedgeneralledgerreport/DetailedGeneralLedgerRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/transactioncontroller/TransactionRestController.java
Due: google-java-format --replace

fix: resolve S1192 and S1452 SonarQube issues (batch 3) (#91)
  apps/backend/src/main/java/com/simpleaccounts/constant/CommonColumnConstants.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/InvoiceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/JournalLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryBalanceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/bankaccount/TransactionDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/helper/ExpenseRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/AbstractDoubleEntryRestController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/currencycontroller/CurrencyController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/detailedgeneralledgerreport/DetailedGeneralLedgerRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/rest/transactioncontroller/TransactionRestController.java
Due: google-java-format --replace

fix: resolve SonarQube high and medium severity issues (batch 4)
  apps/backend/src/main/java/com/simpleaccounts/constant/CommonColumnConstants.java
  apps/backend/src/main/java/com/simpleaccounts/constant/ErrorConstant.java
  apps/backend/src/main/java/com/simpleaccounts/dao/AbstractDao.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/CoacTransactionCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/CompanyDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ContactTransactionCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/CustomerInvoiceReceiptDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/DateFormatDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/EmployeeDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/EmployeeParentRelationDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ExpenseDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/InvoiceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ProductCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ProductLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/PurchaseDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ReceiptDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/SupplierInvoicePaymentDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryBalanceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryClosingBalanceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionExpensesDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionExpensesPayrollDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/VatCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/bankaccount/BankAccountDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/bankaccount/BankAccountStatusDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/helper/ExpenseRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/helper/TransactionHelper.java
  apps/backend/src/main/java/com/simpleaccounts/migration/xml/bindings/applicationmigration/ObjectFactory.java
  apps/backend/src/main/java/com/simpleaccounts/migration/xml/bindings/product/ObjectFactory.java
  apps/backend/src/main/java/com/simpleaccounts/model/EmployeeDesignationListModel.java
  apps/backend/src/main/java/com/simpleaccounts/rest/dashboardcontroller/DashboardController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/simpleaccountreports/SimpleAccountReportDaoImpl.java
  apps/backend/src/test/java/com/simpleaccounts/helper/DashboardCacheKeyUtilTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/DateFormatUtilTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/OSValidatorTest.java
Due: google-java-format --replace

fix: resolve SonarQube high and medium severity issues (batch 4) (#92)
  apps/backend/src/main/java/com/simpleaccounts/constant/CommonColumnConstants.java
  apps/backend/src/main/java/com/simpleaccounts/constant/ErrorConstant.java
  apps/backend/src/main/java/com/simpleaccounts/dao/AbstractDao.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/CoacTransactionCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/CompanyDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ContactTransactionCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/CustomerInvoiceReceiptDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/DateFormatDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/EmployeeDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/EmployeeParentRelationDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ExpenseDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/InvoiceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ProductCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ProductLineItemDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/PurchaseDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/ReceiptDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/SupplierInvoicePaymentDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryBalanceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionCategoryClosingBalanceDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionExpensesDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/TransactionExpensesPayrollDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/VatCategoryDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/bankaccount/BankAccountDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/dao/impl/bankaccount/BankAccountStatusDaoImpl.java
  apps/backend/src/main/java/com/simpleaccounts/helper/ExpenseRestHelper.java
  apps/backend/src/main/java/com/simpleaccounts/helper/TransactionHelper.java
  apps/backend/src/main/java/com/simpleaccounts/migration/xml/bindings/applicationmigration/ObjectFactory.java
  apps/backend/src/main/java/com/simpleaccounts/migration/xml/bindings/product/ObjectFactory.java
  apps/backend/src/main/java/com/simpleaccounts/model/EmployeeDesignationListModel.java
  apps/backend/src/main/java/com/simpleaccounts/rest/dashboardcontroller/DashboardController.java
  apps/backend/src/main/java/com/simpleaccounts/rest/simpleaccountreports/SimpleAccountReportDaoImpl.java
  apps/backend/src/test/java/com/simpleaccounts/helper/DashboardCacheKeyUtilTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/DateFormatUtilTest.java
  apps/backend/src/test/java/com/simpleaccounts/utils/OSValidatorTest.java
Due: google-java-format --replace
